<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>万表网</title>
<link rel="stylesheet" href="../css/public.css">
<link href="../css/index.css" rel="stylesheet">
<script src="../libs/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="../libs/template-native.js"></script>
<script src="../js/index.js"></script>
</head>
<body>
<!-- ******头部****** -->
    <div id="header"></div>
<!-- ******主体****** -->
	<div id="main">
		<div id="cttouch"></div>
	<!-- ******主体-导航区****** -->
	    <div class="main_nav">
	    	<div class="products_link">
	    		<a href="">全部腕表</a>
				<ul class="pinpai_nav">
					<li class="check">
						<p class="pinpailei"><a href="">顶级品牌</a></p>
						<p class="pin_pai">
							<a href="">百达翡丽</a>
							<a href="">柏高</a>
							<a href="">亨利·慕时</a>
							<a href="">积家</a>
						</p>
						<div class="bside">
							<div class="col col-1">
								<div class="t">顶级品牌></div>
								<div class="list_img_link">
									<a title="百达翡丽" href=""><img src="../img/main/147219975755081.png">
									<p>百达翡丽</p></a>
									<a title="柏高" href=""><img src="../img/main/147219975773814.png">
									<p>柏高</p></a>
									<a title="亨利·慕时" href=""><img src="../img/main/147269605418316.png">
									<p>亨利·慕时</p></a>
									<a title="积家" href=""><img src="../img/main/147219975706799.png">
									<p>积家</p></a>
									<a title="江诗丹顿" href=""><img src="../img/main/147219975729781.png">
									<p>江诗丹顿</p></a>
									<a title="伯爵" href=""><img src="../img/main/147219975709452.png">
									<p>伯爵</p></a>
									<a title="宝玑" href=""><img src="../img/main/147219975792709.png" ><p>宝玑</p></a>
									<a title="宝珀"href=""><img src="../img/main/147219975788669.png"><p>宝珀</p></a>
								</div>
							</div>
							<div class="col col-2">
								<div class="t">精选推荐></div>
								<div class="list_txt_link">
									<a href="">柏高</a><span>|</span>
									<a href="">亨利·慕时</a><span>|</span>
									<a href="">百达翡丽</a><span>|</span>
									<a href="">江诗丹顿</a><span>|</span>
									<a href="">宝玑</a><span>|</span>
									<a href="">宝珀</a><span>|</span>
									<a href="">积家</a><span>|</span>
									<a href="">朗格</a><span>|</span>
									<a href="">格拉苏蒂∙原创</a><span>|</span>
									<a href="">爱彼</a><span>|</span>
									<a href="">伯爵</a><span>|</span>
									<a href="">雅克德罗</a><span>|</span>
									<a href="">芝柏</a><span>|</span>
									<a href="">雅典</a><span>|</span>
									<a href="">法穆兰</a><span>|</span>
								</div>
							</div>
							<div class="col col-3">
								<div class="t">促销精选></div>
								<div class="list_txt_link">
									<a href="">表中之王，百达翡丽</a><span>|</span>
									<a href="">柏高，倍受推崇的独立代表</a><span>|</span>
									<a href="">艾美达，全球限量款</a><span>|</span>
									<a href="">珍惜罕有，亨利慕时</a><span>|</span>
								</div>
							</div>
						</div>
					</li>
					<li class="check">
						<p class="pinpailei"><a href="">奢华品牌</a></p>
						<p class="pin_pai">
							<a href="">欧米茄</a>
							<a href="">库尔沃</a>
							<a href="">格拉苏蒂·莫勒</a>
						</p>
						<div class="bside">
							<div class="col col-1">
								<div class="t">奢华品牌></div>
								<div class="list_img_link">
									<a title="欧米茄" href=""><img src="../img/main/147219975755081.png">
									<p>欧米茄</p></a>
									<a title="库尔沃" href=""><img src="../img/main/147219975773814.png">
									<p>库尔沃</p></a>
									<a title="格拉苏蒂·莫勒" href=""><img src="../img/main/147269605418316.png">
									<p>格拉苏蒂·莫勒</p></a>
									<a title="万国" href=""><img src="../img/main/147219975706799.png">
									<p>万国</p></a>
									<a title="古驰" href=""><img src="../img/main/147219975729781.png">
									<p>古驰</p></a>
									<a title="艾美达" href=""><img src="../img/main/147219975709452.png">
									<p>艾美达</p></a>
									<a title="劳力士" href=""><img src="../img/main/147219975792709.png" ><p>劳力士</p></a>
									<a title="诺美纳"href=""><img src="../img/main/147219975788669.png"><p>诺美纳</p></a>
								</div>
							</div>
							<div class="col col-2">
								<div class="t">精选推荐></div>
								<div class="list_txt_link">
									<a href="">诺美纳</a><span>|</span>
									<a href="">库尔沃</a><span>|</span>
									<a href="">瑞宝</a><span>|</span>
									<a href="">格拉苏蒂·莫勒</a><span>|</span>
									<a href="">GUCCI</a><span>|</span>
									<a href="">依百克</a><span>|</span>
									<a href="">宇舶</a><span>|</span>
									<a href="">沛纳海</a><span>|</span>
									<a href="">真力时</a><span>|</span>
									<a href="">泰格豪雅</a><span>|</span>
									<a href="">百年灵</a><span>|</span>
									<a href="">艾美达</a><span>|</span>
									<a href="">梵德宝</a><span>|</span>
									<a href="">宝格丽</a><span>|</span>
									<a href="">艾美</a><span>|</span>
									<a href="">萧邦</a><span>|</span>
									<a href="">昆仑</a><span>|</span>
									<a href="">豪朗时</a><span>|</span>
									<a href="">万国</a><span>|</span>
									<a href="">卡地亚</a><span>|</span>
									<a href="">欧米茄</a><span>|</span>

								</div>
							</div>
							<div class="col col-3">
								<div class="t">促销精选></div>
								<div class="list_txt_link">
									<a href="">GUCCI全场6折大促</a><span>|</span>
									<a href="">劳力士100%正品</a><span>|</span>
									<a href="">原装德表·莫勒</a><span>|</span>
									<a href="">丘吉尔、爱因斯坦同款</a><span>|</span>
								</div>
							</div>
						</div>
					</li>
					<li class="check">
						<p class="pinpailei"><a href="">轻奢品牌</a></p>
						<p class="pin_pai">
							<a href="">天梭</a>
							<a href="">郝柏林</a>
							<a href="">浪琴</a>
							<a href="">迪沃斯</a>
						</p>
						<div class="bside">
							<div class="col col-1">
								<div class="t">轻奢品牌></div>
								<div class="list_img_link">
									<a title="天梭" href=""><img src="../img/main/147219975755081.png">
									<p>天梭</p></a>
									<a title="赫柏林" href=""><img src="../img/main/147219975773814.png">
									<p>赫柏林</p></a>
									<a title="浪琴" href=""><img src="../img/main/147269605418316.png">
									<p>浪琴</p></a>
									<a title="迪沃斯" href=""><img src="../img/main/147219975706799.png">
									<p>迪沃斯</p></a>
									<a title="爱宝时" href=""><img src="../img/main/147219975729781.png">
									<p>爱宝时</p></a>
									<a title="美度" href=""><img src="../img/main/147219975709452.png">
									<p>美度</p></a>
									<a title="爱罗" href=""><img src="../img/main/147219975792709.png" >
									<p>爱罗</p></a>
									<a title="康斯登"href=""><img src="../img/main/147219975788669.png">
									<p>康斯登</p></a>
								</div>
							</div>
							<div class="col col-2">
								<div class="t">精选推荐></div>
								<div class="list_txt_link">
									<a href="">爱宝时</a><span>|</span>
									<a href="">汉米尔顿</a><span>|</span>
									<a href="">帝舵</a><span>|</span>
									<a href="">优立时</a><span>|</span>
									<a href="">绮年华</a><span>|</span>
									<a href="">DAVOSA</a><span>|</span>
									<a href="">梅花</a><span>|</span>
									<a href="">赫柏林</a><span>|</span>
									<a href="">雍加毕索</a><span>|</span>
									<a href="">依波路</a><span>|</span>
									<a href="">西铁城</a><span>|</span>
									<a href="">天铭</a><span>|</span>
									<a href="">瑞士军表</a><span>|</span>
									<a href="">豪度</a><span>|</span>
									<a href="">劳特莱</a><span>|</span>
									<a href="">荣汉斯</a><span>|</span>
									<a href="">罗马</a><span>|</span>
									<a href="">康斯登</a><span>|</span>
									<a href="">GUCCI</a><span>|</span>
									<a href="">特工</a><span>|</span>
									<a href="">PILO&CO GENEVE</a><span>|</span>
									<a href="">David Van Heim</a><span>|</span>

								</div>
							</div>
							<div class="col col-3">
								<div class="t">促销精选></div>
								<div class="list_txt_link">
									<a href="">天梭5.9折起</a><span>|</span>
									<a href="">赫柏林</a><span>|</span>
									<a href="">浪琴名匠6.9折起</a><span>|</span>
									<a href="">潜水表+商务表两用</a><span>|</span>
									<a href="">荣汉斯</a><span>|</span>
								</div>
							</div>
						</div>
					</li>
					<li class="check">
						<p class="pinpailei"><a href="">时尚、潮牌</a></p>
						<p class="pin_pai">
							<a href="">卡西欧</a>
							<a href="">MINI</a>
							<a href="">CK</a>
							<a href="">阿玛尼</a>
							<a href="">DW</a>
						</p>
						<div class="bside">
							<div class="col col-1">
								<div class="t">顶级品牌></div>
								<div class="list_img_link">
									<a title="百达翡丽" href=""><img src="../img/main/147219975755081.png">
									<p>百达翡丽</p></a>
									<a title="柏高" href=""><img src="../img/main/147219975773814.png">
									<p>柏高</p></a>
									<a title="亨利·慕时" href=""><img src="../img/main/147269605418316.png">
									<p>亨利·慕时</p></a>
									<a title="积家" href=""><img src="../img/main/147219975706799.png">
									<p>积家</p></a>
									<a title="江诗丹顿" href=""><img src="../img/main/147219975729781.png">
									<p>江诗丹顿</p></a>
									<a title="伯爵" href=""><img src="../img/main/147219975709452.png">
									<p>伯爵</p></a>
									<a title="宝玑" href=""><img src="../img/main/147219975792709.png" ><p>宝玑</p></a>
									<a title="宝珀"href=""><img src="../img/main/147219975788669.png"><p>宝珀</p></a>
								</div>
							</div>
							<div class="col col-2">
								<div class="t">精选推荐></div>
								<div class="list_txt_link">
									<a href="">柏高</a><span>|</span>
									<a href="">亨利·慕时</a><span>|</span>
									<a href="">百达翡丽</a><span>|</span>
									<a href="">江诗丹顿</a><span>|</span>
									<a href="">宝玑</a><span>|</span>
									<a href="">宝珀</a><span>|</span>
									<a href="">积家</a><span>|</span>
									<a href="">朗格</a><span>|</span>
									<a href="">格拉苏蒂∙原创</a><span>|</span>
									<a href="">爱彼</a><span>|</span>
									<a href="">伯爵</a><span>|</span>
									<a href="">雅克德罗</a><span>|</span>
									<a href="">芝柏</a><span>|</span>
									<a href="">雅典</a><span>|</span>
									<a href="">法穆兰</a><span>|</span>
								</div>
							</div>
							<div class="col col-3">
								<div class="t">促销精选></div>
								<div class="list_txt_link">
									<a href="">表中之王，百达翡丽</a><span>|</span>
									<a href="">柏高，倍受推崇的独立代表</a><span>|</span>
									<a href="">艾美达，全球限量款</a><span>|</span>
									<a href="">珍惜罕有，亨利慕时</a><span>|</span>
								</div>
							</div>
						</div>
					</li>
					<li class="check">
						<p class="pinpailei"><a href="">智能表、国产表</a></p>
						<p class="pin_pai">
							<a href="">飞亚达</a>
							<a href="">华为</a>
							<a href="">海鸥</a>
							<a href="">唯路时</a>
							<a href="">表带</a>
						</p>
						<div class="bside">
							<div class="col col-1">
								<div class="t">智能表、国产表></div>
								<div class="list_img_link">
									<a title="飞亚达" href=""><img src="../img/main/147219975755081.png">
									<p>飞亚达</p></a>
									<a title="华为" href=""><img src="../img/main/147219975773814.png">
									<p>华为</p></a>
									<a title="海鸥" href=""><img src="../img/main/147269605418316.png">
									<p>海鸥</p></a>
									<a title="HANOWEA军表" href=""><img src="../img/main/147219975706799.png">
									<p>HANOWEA军表</p></a>
									<a title="北京" href=""><img src="../img/main/147219975729781.png">
									<p>北京</p></a>
									<a title="山城" href=""><img src="../img/main/147219975709452.png">
									<p>山城</p></a>
									<a title="唯路时" href=""><img src="../img/main/147219975792709.png" >
									<p>唯路时</p></a>
									<a title="表带"href=""><img src="../img/main/147219975788669.png">
									<p>表带</p></a>
								</div>
							</div>
							<div class="col col-2">
								<div class="t">精选推荐></div>
								<div class="list_txt_link">
									<a href="">飞亚达</a><span>|</span>
									<a href="">海鸥</a><span>|</span>
									<a href="">上海</a><span>|</span>
									<a href="">北京</a><span>|</span>
									<a href="">山城</a><span>|</span>
									<a href="">尖刀</a><span>|</span>
									<a href="">HANOWA军表</a><span>|</span>
									<a href="">廊桥</a><span>|</span>
									<a href="">潜水表</a><span>|</span>
									<a href="">限量款</a><span>|</span>
									<a href="">怀表</a><span>|</span>
									<a href="">摇表器</a><span>|</span>
									<a href="">颂拓</a><span>|</span>
									<a href="">塔罗斯</a><span>|</span>
									<a href="">华为</a><span>|</span>
									<a href="">Garmin佳明</a><span>|</span>
								</div>
							</div>
							<div class="col col-3">
								<div class="t">促销精选></div>
								<div class="list_txt_link">
									<a href="">天铭—有个性的手表</a><span>|</span>
									<a href="">海鸥表2.5折起</a><span>|</span>
									<a href="">飞亚达</a><span>|</span>
									<a href="">表带推荐</a><span>|</span>
									<a href="">华为智能手表</a><span>|</span>
									<a href="">Garmin佳明</a><span>|</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
	    	</div>
			<ul class="nav_ul">
				<li class="xbzxxl"><a href="">选表中心</a><img src="../img/main/xb_hot.png"></li>
				<li><a href="">线下体验</a></li>
				<li><a href="">名匠维修</a></li>
				<li><a href="">全球购表</a></li>
				<li><a href="">闪购特惠</a></li>
				<li><a href="">会员福利</a></li>
				<li><a href="">钟表文化</a></li>
			</ul>
	    </div>
	    <div class="xuanbiaozhongxin">
			<div class="xbzxwrap">
				<div class="xbzxlist">
					<div class="list1">
						<a href="#" class="list_h">男表</a>
						<a href="#" class="list_img">
							<img src="../img/main/148738149447936.jpg" alt="">
						</a>
						<div class="list_txt">
							<ul>
								<li><a href="">款式风格></a></li>
								<li>
									<a href="" class="more"></a>
									<a href="">正装</a>
									<a href="">商务休闲</a>
									<a href="">运动</a>
									<a href="">时尚</a>

								</li>
							</ul>
							<ul>
								<li><a href="">价格区间></a></li>
								<li>
									<a href="" class="more"></a>
									<a href="">1千-3千</a>
									<a href="">3千-5千</a>
									<a href="">5千-1万</a>

								</li>
							</ul>
							<ul>
								<li><a href="">品牌优选></a></li>
								<li>
									<a href="" class="more"></a>
									<a href="">郝柏林</a>
									<a href="">浪琴</a>
									<a href="">DAVOSA</a>
									<a href="">天梭</a>
									<a href="">爱宝时</a>
									<a href="">柏高</a>
									<a href="">欧米茄</a>

								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="xbzxlist">
					<div class="list1">
						<a href="#" class="list_h">女表</a>
						<a href="#" class="list_img">
							<img src="../img/main/148738149493915.jpg" alt="">
						</a>
						<div class="list_txt">
							<ul>
								<li><a href="">款式风格></a></li>
								<li>
									<a href="" class="more"></a>
									<a href="">时尚</a>
									<a href="">正装</a>
									<a href="">运动</a>
									<a href="">镶钻</a>

								</li>
							</ul>
							<ul>
								<li><a href="">价格区间></a></li>
								<li>
									<a href="" class="more"></a>
									<a href="">1千-3千</a>
									<a href="">3千-5千</a>
									<a href="">5千-1万</a>
								</li>
							</ul>
							<ul>
								<li><a href="">品牌优选></a></li>
								<li>
									<a href="" class="more"></a>
									<a href="">郝柏林</a>
									<a href="">浪琴</a>
									<a href="">DAVOSA</a>
									<a href="">天梭</a>
									<a href="">库尔沃</a>
									<a href="">美度</a>
									<a href="">菲拉格慕</a>
									<a href="">DW</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="xbzxlist">
					<div class="list1">
						<a href="#" class="list_h">闪购</a>
						<a href="#" class="list_img">
							<img src="../img/main/148738149462755.jpg" alt="">
						</a>
						<div class="list_txt">
							<ul>
								<li><a href="">限时特卖></a></li>
								<li>
									<a href="">天梭</a>
									<a href="">海鸥</a>
									<a href="">柏高</a>
									<a href="">郝柏林</a>
									<a href="" class="more"></a>
								</li>
							</ul>
							<ul>
								<li><a href="">清仓特卖></a></li>
								<li>
									<a href="">梅花</a>
									<a href="">精工</a>
									<a href="">泰格豪雅</a>
									<a href="">爱彼特</a>
									<a href="" class="more"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
	    </div>
	<!-- ******主体-导航区结束****** -->
	    <div class="main_banner">
	    	<ul>
	    		<li style="background: #0B0B0B; display: block;"><a href=""><img src="../img/main/149265388253912.png" alt=""></a></li>
	    		<li style="background: #04050A;"><a href=""><img src="../img/main/149268395670817.jpg" alt=""></a></li>
	    		<li style="background: #FAE1C3;"><a href=""><img src="../img/main/149371869237429.jpg" alt=""></a></li>
	    		<li style="background: #E4E4E4;"><a href=""><img src="../img/main/149482325840606.png" alt=""></a></li>
	    		<li style="background: #000000;"><a href=""><img src="../img/main/149482838654844.jpg" alt=""></a></li>
	    		<li style="background: #000000;"><a href=""><img src="../img/main/149516547130414.png" alt=""></a></li>
	    		<li style="background: #FCFCFC;"><a href=""><img src="../img/main/149518956197228.jpg" alt=""></a></li>
	    		<li style="background: #0D0D0D;"><a href=""><img src="../img/main/149570828378645.jpg" alt=""></a></li>
	    		<div class="prnt">
					<div id="prev"></div>
					<div id="next"></div>
				</div>
	    	</ul>
    		<p id="pages"></p>
	    </div>
	<!-- ******主体-楼层****** -->
	    <div id="floor">
	    	<!-- <ul id="cebiannav">
				<li>热销</li>
				<li>闪购</li>
			    <li>新品</li>
				<li>品牌</li>
			    <li>猜你<br>喜欢</li>
			 	<li>晒单</li>
				<li>咨讯</li>
			</ul> -->
			<div class="floor_wel">
				<ul>
					<li><a href=""><span></span>自营正品直采</a></li>
					<li><a href=""><span></span>专业腕表导购</a></li>
					<li><a href=""><span></span>全国实体店体验</a></li>
					<li><a href=""><span></span>专业保养维修</a></li>
				</ul>
			</div>
<!-- 模板加载楼层************************************************************** -->
			<div class="floor_showpic"></div>
			<div class="floor_style_1"></div>
			<div class="floor_style_2"></div>
			<div class="floor_style_3"></div>
			<div class="floor_style_4"></div>
			<div class="floor_style_5"></div>
		</div>

<!-- ******底部****** -->
    <div id="footer"></div>

<!-- **********************************arttemplate模板********************************************* -->
<!-- ******floor_showpic内容****** -->
<script type="text/html" id="art_showpic">
	<% for(var i = 0,len=list.length; i< 1 ; i++){
		var showpic=list[0]; %>
		<ul>
			<li><a href="#"><img src="../img/main/<%=showpic.img[0]%>.jpg"></a></li>
			<li><a href="#"><img src="../img/main/<%=showpic.img[1]%>.jpg"></a></li>
			<li><a href="#"><img src="../img/main/<%=showpic.img[2]%>.jpg"></a></li>
			<li><a href="#"><img src="../img/main/<%=showpic.img[3]%>.jpg"></a></li>
		</ul>
	<%}%>
</script>
<!-- ******floor_style_1内容****** -->
<script type="text/html" id="art_style_1">
	<% for (var i = 1, len = list.length; i < 4; i++){
		var floor = list[i];
	%>
		<div class="floormean">
			<h3><a href=""><%= floor.h3 %><span></span></a></h3>
			<p>
				<a href=""><%= floor.top_txt[0] %></a><span>/</span>
				<a href=""><%= floor.top_txt[1] %></a><span>/</span>
				<a href=""><%= floor.top_txt[2] %></a>
			</p>
		</div>
		<div class="floorshow">
			<div class="show_part1">
				<ul>
					<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
					<li><img src="../img/main/<%= floor.part1_img[1] %>.jpg"></li>
					<li><img src="../img/main/<%= floor.part1_img[2] %>.jpg"></li>
					<!-- <li><img src="../img/main/<%= floor.part1_img[3] %>.png"></li> -->
				</ul>
				<div>
					<p><%= floor.part1_txt[0] %></p>
					<p><%= floor.part1_txt[1] %></p>
				</div>
			</div>
			<div class="show_part2">
				<a href="">
					<p>
						<img src="../img/main/<%= floor.part2_img[0] %>.jpg">
					</p>
					<p><%= floor.part2_txt[0] %></p>
					<p><%= floor.part2_txt[1] %></p>
				</a>
			</div>
			<div class="show_part3">
				<div class="part_1">
					<a href="">
						<div>
							<p><%= floor.part3_txt[0] %></p>
							<p><%= floor.part3_txt[1] %></p>
						</div>
						<img src="../img/main/<%= floor.part3_img[0] %>.jpg" alt="">
					</a>
				</div>
				<div class="part_2">
					<a href="">
						<div>
							<p><%= floor.part3_txt[2] %></p>
							<p><%= floor.part3_txt[3] %></p>
						</div>
						<img src="../img/main/<%= floor.part3_img[1] %>.jpg" alt="">
					</a>
				</div>
				<div class="part_3">
					<a href="">
						<div>
							<p><%= floor.part3_txt[4] %></p>
							<p><%= floor.part3_txt[5] %></p>
						</div>
						<img src="../img/main/<%= floor.part3_img[2] %>.jpg" alt="">
					</a>
				</div>
				<div class="part_4">
					<a href="">
						<div>
							<p><%= floor.part3_txt[0] %></p>
							<p><%= floor.part3_txt[1] %></p>
						</div>
						<img src="../img/main/<%= floor.part3_img[3] %>.jpg" alt="">
					</a>
				</div>
			</div>
			<div class="clean"></div>
			<div class="show_part4">
				<ul>
					<li><a href=""><img src="../img/main/<%= floor.part4_img[0] %>.png" alt="">
						<span><%= floor.part4_txt[0] %></span>
					</a></li>
					<li><a href=""><img src="../img/main/<%= floor.part4_img[1] %>.png" alt=""><span><%= floor.part4_txt[1] %></span></a></li>
					<li><a href=""><img src="../img/main/<%= floor.part4_img[2] %>.png" alt=""><span><%= floor.part4_txt[2] %></span></a></li>
					<li><a href=""><img src="../img/main/<%= floor.part4_img[3] %>.png" alt=""><span><%= floor.part4_txt[3] %></span></a></li>
					<li><a href=""><img src="../img/main/<%= floor.part4_img[4] %>.png" alt=""><span><%= floor.part4_txt[4] %></span></a></li>
					<li><a href=""><img src="../img/main/<%= floor.part4_img[5] %>.png" alt=""><span><%= floor.part4_txt[5] %></span></a></li>
				</ul>
			</div>
		</div>
	<% } %>
</script>
<!-- ******floor_style_2内容****** -->
<script type="text/html" id="art_style_2">
	<% for (var i = 4, len = list.length; i < 5; i++){
		var floor2 = list[4];
	%>
		<div class="floormean">
			<h3><a href=""><%=floor2.h3%><span></span></a></h3>
			<p>
				<a href=""><%=floor2.top_txt%></a><span>></span>
			</p>
		</div>
		<div class="brand">
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[0]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[0]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[0]%></p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[1]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[1]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[1]%></p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[2]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[2]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[2]%></p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[3]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[3]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[3]%></p>
					</dd>
				</a>
			</dl>
		</div>
		<div class="brand">
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[4]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[4]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[4]%></p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[5]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[5]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[5]%></p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[6]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[6]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[6]%></p>
					</dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor2.brand_imgpro[7]%>.png" alt=""></dt>
					<dd>
						<p><img src="../img/main/<%=floor2.brand_imgmin[7]%>.png" alt=""></p>
						<p><%=floor2.brand_txt[7]%></p>
					</dd>
				</a>
			</dl>
		</div>
	<% } %>
</script>
<!-- ******floor_style_3内容****** -->
<script type="text/html" id="art_style_3">
	<% for(var i = 5,len=list.length; i< 6 ; i++){
		var floor3=list[5]; %>
		<div class="floormean">
			<h3><a href=""><%=floor3.h3%><span></span></a></h3>
			<p><span>X</span><a href=""><%=floor3.top_txt%></a></p>
		</div>
		<div class="guesslike">
			<div class="like-l">
				<ul>
					<li><a href=""><img src="../img/main/<%=floor3.logo_img[0]%>.png" alt=""></a></li>
					<li><a href=""><img src="../img/main/<%=floor3.logo_img[1]%>.png" alt=""></li>
					<li><a href=""><span><%=floor3.logo_txt[0]%></span></a></li>
					<li><a href=""><span><%=floor3.logo_txt[1]%></span></a></li>
					<li><a href=""><span><%=floor3.logo_txt[2]%></span></a></li>
					<li><a href=""><span><%=floor3.logo_txt[3]%></span></a></li>
					<li><a href=""><span><%=floor3.logo_txt[4]%></span></a></li>
					<li><a href=""><span><%=floor3.logo_txt[5]%></span></a></li>
				</ul>
			</div>
			<div class="like-r">
				<dl>
					<a href="">
						<dt><img src="../img/main/<%=floor3.photo[0]%>.jpg" alt=""></dt>
						<dd>
							<p><%=floor3.name[0]%></p>
							<p><%=floor3.price[0]%><span><%=floor3.count[0]%></span></p>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="">
						<dt><img src="../img/main/<%=floor3.photo[1]%>.jpg" alt=""></dt>
						<dd>
							<p><%=floor3.name[1]%></p>
							<p><%=floor3.price[1]%><span><%=floor3.count[1]%></span></p>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="">
						<dt><img src="../img/main/<%=floor3.photo[2]%>.jpg" alt=""></dt>
						<dd>
							<p><%=floor3.name[2]%></p>
							<p><%=floor3.price[2]%><span><%=floor3.count[2]%></span></p>
						</dd>
					</a>
				</dl>
				<dl>
					<a href="">
						<dt><img src="../img/main/<%=floor3.photo[3]%>.jpg" alt=""></dt>
						<dd>
							<p><%=floor3.name[3]%></p>
							<p><%=floor3.price[3]%><span><%=floor3.count[3]%></span></p>
						</dd>
					</a>
				</dl>
			</div>
		</div>
	<%}%>
</script>
<!-- ******floor_style_4内容****** -->
<script type="text/html" id="art_style_4">
	<% for(var i = 6,len=list.length; i< 7 ; i++){
		var floor4=list[6]; %>
		<div class="floormean">
			<h3><a href=""><%=floor4.h3%><span></span></a></h3>
			<p>
				<a href=""><%=floor4.top_txt%></a><span>></span>
			</p>
		</div>
		<div class="brand">
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor4.photo[0]%>.jpg" alt=""></dt>
					<dd><%=floor4.txt[0]%></dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor4.photo[1]%>.jpg" alt=""></dt>
					<dd><%=floor4.txt[1]%></dd>
				</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor4.photo[2]%>.jpg" alt=""></dt>
					<dd><%=floor4.txt[2]%></dd>
			</a>
			</dl>
			<dl>
				<a href="">
					<dt><img src="../img/main/<%=floor4.photo[3]%>.jpg" alt=""></dt>
					<dd><%=floor4.txt[3]%></dd>
				</a>
			</dl>
		</div>
	<%}%>
</script>
<!-- ******floor_style_5内容****** -->
<script type="text/html" id="art_style_5">
	<% for(var i = 7,len=list.length; i< 8 ; i++){
		var floor5=list[7]; %>
		<div id="floor_left">
			<div class="floormean">
				<h3><a href=""><%=floor5.h3[0]%><span></span></a></h3>
				<div>
					<a href=""><img src="../img/main/<%=floor5.left_img[0]%>.png" alt=""></a>
					<p>
						<a href=""><%=floor5.left_txt[0]%></a>
						<a href=""><%=floor5.left_txt[1]%></a>
						<a href=""><%=floor5.left_txt[2]%></a>
						<a href=""><%=floor5.left_txt[3]%></a>
						<a href=""><%=floor5.left_txt[4]%></a>
						<a href=""><%=floor5.left_txt[5]%></a>
					</p>
				</div>

			</div>
		</div>
		<div id="floor_right">
			<div class="floormean">
				<h3><a href=""><%=floor5.h3[0]%><span></span></a></h3>
				<p>
					<a href=""><%=floor5.top_txt%></a><span>></span>
				</p>
			</div>
			<div class="new_wrap">
				<dl>
					<dt><a href=""><%=floor5.rigth_title[0]%></a></dt>
					<dd><a href=""><%=floor5.pinlun[0]%></a></dd>
					<dd><a href=""><%=floor5.pinlun[1]%></a></dd>
					<dd><a href=""><%=floor5.pinlun[2]%></a></dd>
					<dd><a href=""><%=floor5.pinlun[3]%></a></dd>
					<dd><a href=""><%=floor5.pinlun[4]%></a></dd>
				</dl>
				<dl>
					<dt><a href=""><%=floor5.rigth_title[1]%></a></dt>
					<dd><a href=""><%=floor5.zhuanti[0]%></a></dd>
					<dd><a href=""><%=floor5.zhuanti[1]%></a></dd>
					<dd><a href=""><%=floor5.zhuanti[2]%></a></dd>
					<dd><a href=""><%=floor5.zhuanti[3]%></a></dd>
					<dd><a href=""><%=floor5.zhuanti[4]%></a></dd>
				</dl>
				<dl>
					<dt><a href=""><%=floor5.rigth_title[2]%></a></dt>
					<dd><a href=""><%=floor5.xueyuan[0]%></a></dd>
					<dd><a href=""><%=floor5.xueyuan[1]%></a></dd>
					<dd><a href=""><%=floor5.xueyuan[2]%></a></dd>
					<dd><a href=""><%=floor5.xueyuan[3]%></a></dd>
					<dd><a href=""><%=floor5.xueyuan[4]%></a></dd>
				</dl>
			</div>
		</div>
	<%}%>
</script>
</body>
</html>