
<% for (var i = 0, len = products.length; i < len; i++) { 
			var floor = products[i];
		%>

<div id="floor_2">
				<div class="floormean">
					<h3><a href=""><%= floor.h3 %><span></span></a></h3>
					<p>
						<a href=""><%= floor.top_txt[0] %></a><span>/</span>
						<a href=""><%= floor.top_txt[1] %></a><span>/</span>
						<a href=""><%= floor.top_txt[2] %></a>
					</p>
				</div>
				<div class="floorshow">
					<div class="show_part1">
						<ul>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
						</ul>
						<div>
							<p></p>
							<p>7.7毫米流线收边设计</p>
						</div>
					</div>
					<div class="show_part2">
						<a href="">
							<p>
								<img src="../img/main/149510441048664.jpg">
							</p>
							<p>法国赫柏林</p>
							<p>法国总统夫人佩戴品牌</p>
						</a>
					</div>
					<div class="show_part3">
						<div class="part_1">
							<a href="">
								<div>
									<p>天梭TISSOT</p>
									<p>畅销款升级版</p>
								</div>
								<img src="../img/main/149550801121932.jpg" alt="">
							</a>
						</div>
						<div class="part_2">
							<a href="">
								<div>
									<p>天梭TISSOT</p>
									<p>畅销款升级版</p>
								</div>
								<img src="../img/main/149550801121932.jpg" alt="">
							</a>
						</div>
						<div class="part_3">
							<a href="">
								<div>
									<p>天梭TISSOT</p>
									<p>畅销款升级版</p>
								</div>
								<img src="../img/main/149550801121932.jpg" alt="">
							</a>
						</div>
						<div class="part_4">
							<a href="">
								<div>
									<p>天梭TISSOT</p>
									<p>畅销款升级版</p>
								</div>
								<img src="../img/main/149550801121932.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="clean"></div>
					<div class="show_part4">
						<ul>
							<li><a href=""><img src="../img/main/147219975706799.png" alt="">
								<span>商标</span>
							</a></li>
							<li><a href=""><img src="../img/main/147219975709452.png" alt=""><span>商标</span></a></li>
							<li><a href=""><img src="../img/main/147219975729781.png" alt=""><span>商标</span></a></li>
							<li><a href=""><img src="../img/main/147219975755081.png" alt=""><span>商标</span></a></li>
							<li><a href=""><img src="../img/main/147219975788669.png" alt=""><span>商标</span></a></li>
							<li><a href=""><img src="../img/main/147219975788669.png" alt=""><span>商标</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="floor_2">
				<div class="floormean">
					<h3><a href="">闪购特惠<span></span></a></h3>
					<p>
						<a href="">闪购主会场</a><span>/</span>
						<a href="">全选GUCCI古驰中国特卖</a><span>/</span>
						<a href="">限时特卖，抢1折手表</a>
					</p>
				</div>
				<div class="floorshow">
					<div class="show_part1"></div>
					<div class="show_part2"></div>
					<div class="show_part3">
						<div class="part_1"></div>
						<div class="part_2"></div>
						<div class="part_3"></div>
						<div class="part_4"></div>
					</div>
				</div>
			</div>
			<div id="floor_2">
				<div class="floormean">
					<h3><a href="">新品首发<span></span></a></h3>
					<p>
						<a href="">新版智能表</a><span>/</span>
						<a href="">大牌欧米茄</a><span>/</span>
						<a href="">泰格豪雅新品上市</a>
					</p>
				</div>
				<div class="floorshow">
					<div class="show_part1"></div>
					<div class="show_part2"></div>
					<div class="show_part3">
						<div class="part_1"></div>
						<div class="part_2"></div>
						<div class="part_3"></div>
						<div class="part_4"></div>
					</div>
				</div>
			</div>
<% } %>