
<% for (var i = 0, len = products.length; i < len; i++) { 
			var floor = products[i];
		%>

<div id="floor_2">
				<div class="floormean">
					<h3><a href=""><%= floor.h3 %><span></span></a></h3>
					<p>
						<a href=""><%= floor.top_txt[0] %></a><span>/</span>
						<a href=""><%= floor.top_txt[1] %></a><span>/</span>
						<a href=""><%= floor.top_txt[2] %></a>
					</p>
				</div>
				<div class="floorshow">
					<div class="show_part1">
						<ul>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
							<li><img src="../img/main/<%= floor.part1_img[0] %>.jpg"></li>
						</ul>
						<div>
							<p><%= floor.part1_txt[0] %></p>
							<p><%= floor.part1_txt[1] %></p>
						</div>
					</div>
					<div class="show_part2">
						<a href="">
							<p>
								<img src="../img/main/<%= floor.part2_img[0] %>.jpg">
							</p>
							<p><%= floor.part2_txt[0] %></p>
							<p><%= floor.part2_txt[1] %></p>
						</a>
					</div>
					<div class="show_part3">
						<div class="part_1">
							<a href="">
								<div>
									<p><%= floor.part3_txt[0] %></p>
									<p><%= floor.part3_txt[1] %></p>
								</div>
								<img src="../img/main/<%= floor.part3_img[0] %>.jpg" alt="">
							</a>
						</div>
						<div class="part_2">
							<a href="">
								<div>
									<p><%= floor.part3_txt[0] %></p>
									<p><%= floor.part3_txt[1] %></p>
								</div>
								<img src="../img/main/<%= floor.part3_img[0] %>.jpg" alt="">
							</a>
						</div>
						<div class="part_3">
							<a href="">
								<div>
									<p><%= floor.part3_txt[0] %></p>
									<p><%= floor.part3_txt[1] %></p>
								</div>
								<img src="../img/main/<%= floor.part3_img[0] %>.jpg" alt="">
							</a>
						</div>
						<div class="part_4">
							<a href="">
								<div>
									<p><%= floor.part3_txt[0] %></p>
									<p><%= floor.part3_txt[1] %></p>
								</div>
								<img src="../img/main/<%= floor.part3_img[0] %>.jpg" alt="">
							</a>
						</div>
					</div>
					<div class="clean"></div>
					<div class="show_part4">
						<ul>
							<li><a href=""><img src="../img/main/<%= floor.part4_img[1] %>.png" alt="">
								<span><%= floor.part4_img[1] %></span>
							</a></li>
							<li><a href=""><img src="../img/main/<%= floor.part4_img[0] %>.png" alt=""><span><%= floor.part4_img[1] %></span></a></li>
							<li><a href=""><img src="../img/main/<%= floor.part4_img[1] %>.png" alt=""><span><%= floor.part4_img[1] %></span></a></li>
							<li><a href=""><img src="../img/main/<%= floor.part4_img[2] %>.png" alt=""><span><%= floor.part4_img[1] %></span></a></li>
							<li><a href=""><img src="../img/main/<%= floor.part4_img[3] %>.png" alt=""><span><%= floor.part4_img[1] %></span></a></li>
							<li><a href=""><img src="../img/main/<%= floor.part4_img[4] %>.png" alt=""><span><%= floor.part4_img[1] %></span></a></li>
						</ul>
					</div>
				</div>
			</div>
<% } %>