.active{
	background: white; color: darkred;
}
#main .main_banner {
	width: 100%;
	height: 430px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
#main .main_banner  ul{
	width: 100%;
	height: 430px;
	position: absolute;
}
#main .main_banner  ul li{
	position: absolute;
	width: 100%;
	height: 430px;
	overflow: hidden;
	display: none;
}
#main .main_banner  ul li img {
	width: 100%;
	height: 100%;
	display: inline-block;
	animation: suoxiao 4s
}

@keyframes suoxiao {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);

	}
}
#pages{
	box-sizing: border-box;
	padding: 0 15px;
	height: 30px;
	border-radius: 20px;
	background: rgba(0,0,0,1);
	text-align: center;
	margin:385px auto 0;
}
.circle{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
	opacity: 0.9;
	float: left;
	margin: 10px;
}
.current{
	width: 14px;
	height: 14px;
	border: 2px solid white;
	background: rgba(0,0,0,0);
	margin: 6px 10px;
}
.prnt{
	width: 1200px;
	height: 430px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}




#prev, #next {
	width: 30px;
	height: 90px;
	position: absolute;
	z-index: 4;
	top:40%;
	display: none;
	cursor: pointer;
	background: url(../img/main/indexs.png);
}
.prev, .next {
	width: 30px;
	height: 90px;
	position: absolute;
	z-index: 4;
	top:40%;
	cursor: pointer;
	display: none;
	padding: 0;
	background: url(../img/main/indexs.png) no-repeat;
}
#prev{
	left:210px;
	background-position: 0 -16px;
}
.prev{
	left:0px;
	background-position: 0 -16px;
}
#next {
	right: 0;
	background-position: -30px -16px;
}
.next {
	right: 0;
	background-position: -30px -16px;
}
#prev:hover{
	background-position: 0 -106px;
}
.prev:hover{
	background-position: 0 -106px;
}
#next:hover{
	background-position: -30px -106px;
}
.next:hover{
	background-position: -30px -106px;
}
#floor {
	width: 1200px;
	margin: 0 auto
}
#cebiannav {
	width: 40px;
	height: 286px;
	position: fixed;
	margin-left: -50px;
	top: 210px;
	background: #F4F4F4;
	font-size: 12px;
	display: none;
}
#cebiannav li {
	width: 40px;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid #DDDDDD;
	text-align: center;
	cursor: pointer;
}
#cebiannav li:hover{
	background: #666666;
	color: white;
}
#cebiannav li:nth-child(5) {
	line-height: 20px
}
#cebiannav li:last-child {
	border: none
}
.floor_wel {
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #e5e5e5
}
.floor_wel ul {
	width: 1200px;
	margin: 0 auto;
	position: relative
}
.floor_wel ul li {
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 0 80px;
	height: 53px;
	width: 25%;
	line-height: 53px;
	position: relative
}
.floor_wel ul li a {
	color: #666666;
	font-size: 14px
}
.floor_wel ul li a:hover{
	color:darkred;
}

.floor_wel ul li:first-child span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: 0 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_wel ul li:nth-child(2) span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: -45px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_wel ul li:nth-child(3) span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: -93px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 50px
}
.floor_wel ul li:last-child span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: -141px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_showpic {
	width: 1200px;
	height: 150px;
	margin: 30px auto 40px;
	position: relative;
	overflow: hidden;
}
.floor_showpic ul li {
	float: left;
	width: 297px;
	height: 150px;
	margin-right: 4px;
	overflow: hidden;
}
.floor_showpic ul li:last-child {
	margin-right: 0
}
.floor_showpic ul li img {
	width: 297px;
	height: 150px;
	transition: 2s;
}
.floor_showpic ul li img:hover{
	transform: scale(1.1);
}
.floor_showpic p{
	width: 1200px;
	margin: 0 auto;
	position: absolute;
	z-index: 2;
	top:30%;
}
.floor_showpic p span{
	display: block;
	width: 28px;
	height: 60px;
	position: absolute;
	padding: 0;
	margin: 0;
	z-index: 5;
	cursor: pointer;
	background: url(../img/main/index_btn.png) no-repeat;
}
.floor_showpic p span:first-child{
	left: -30px;
	background-position: 0 0;
}
.floor_showpic p span:last-child{
	right: -30px;
	background-position: -32px 0;
}











.floor_2 {
	width: 1200px;
	height: 499px;
	margin: 0 auto 40px
}
.floormean h3 {
	float: left;
	height: 39px;
	line-height: 39px
}
.floormean h3 a {
	font-size: 26px;
	font-weight: bold;
	color: #333
}
.floormean h3 a span {
	/*background: url(../heading.png) no-repeat;*/
	background-position: 0 0;
	width: 67px;
	height: 25px;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle
}
.floormean p {
	padding-top: 7px;
	height: 39px;
	float: right
}
.floormean p a {
	font-size: 12px;
	color: #666666
}
.floormean p span {
	color: #cccfda;
	font-size: 12px;
	display: inline-block;
	padding: 0 8px
}
.floormean {
	height: 39px;
	line-height: 39px;
	margin-bottom: 10px;
	position: relative
}
.floorshow {
	height: 460px;
	overflow: hidden;
}
.floorshow .show_part1 {
	width: 400px;
	height: 375px;
	float: left;
	position: relative;
}
.floorshow .show_part1 ul{
	width: 400px;
	height: 377px;
	position: absolute;
	z-index: 0;
}
.floorshow .show_part1 ul li{
	width: 400px;
	height: 377px;
	position: absolute;
	z-index: 0;
	overflow: hidden;
}
.floorshow .show_part1 ul li img{
	width: 100%;
	height: 100%;
	display: inline-block;
	animation: suoxiao 4s
}
.floorshow .show_part1 .part1_txt{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 30px;
	padding: 10px 15px;
	width: 225px;
	background: rgba(158,42,45,0.7);
}
.floorshow .show_part1 .part1_txt p{
	color: #fff;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.floorshow .show_part1 .circle{
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #666;
	opacity: 0.9;
	float: left;
	margin: 10px;
	display: inline-block;
}
.floorshow .show_part1 .current{
	width: 10px;
	height: 10px;
	vertical-align: middle;
	border: 2px solid white;
	background: rgba(0,0,0,0);
	padding-bottom: 1px;
	box-sizing: border-box;
	margin: 8px 10px;
}
.pages{
	box-sizing: border-box;
	height: 27px;
	text-align: center;
	margin:350px auto 0;
}
.floorshow .show_part1 div p:first-child {
	font-size: 20px;
}
.floorshow .show_part1 div p:last-child {
	font-size: 14px;
}
.floorshow .show_part2 {
	width: 275px;
	height: 375px;
	border: 1px solid #ccc;
	border-left: none;
	float: left;
}
.floorshow .show_part2 p{
	text-align: center;
	line-height: 24px;
}
.floorshow .show_part2 p:first-child{
	width: 240px;
	height: 240px;
	padding: 25px 0 18px 0;
	margin: 0 auto;
}
.floorshow .show_part2 p:nth-child(2){
	color: #333;
	font-size: 16px;
}
.floorshow .show_part2 p:last-child{
	color: #b22424;
	font-size: 12px;
}
.floorshow .show_part2 p img{
	transition: 2s;
}
.floorshow .show_part2 p img:hover{
	transform: scale(1.1);
}

.floorshow .show_part3 {
	width: 523px;
	height: 375px;
	border: 1px solid #ccc;
	border-left: none;
	float: left;
}
.floorshow .show_part3 .part_1{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.floorshow .show_part3 .part_1 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2
}
.floorshow .show_part3 .part_1 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_1 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_1 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}
.floorshow .show_part3 .part_2{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.floorshow .show_part3 .part_2 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2;
}
.floorshow .show_part3 .part_2 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_2 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_2 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}.floorshow .show_part3 .part_3{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	border-right: 1px solid #ccc;
}
.floorshow .show_part3 .part_3 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2;
}
.floorshow .show_part3 .part_3 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_3 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_3 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}.floorshow .show_part3 .part_4{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
}
.floorshow .show_part3 .part_4 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2;
}
.floorshow .show_part3 .part_4 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_4 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_4 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}

.floorshow .show_part3 img{
	transition: 1s;
}
.floorshow .show_part3 img:hover{
	transform: translateY(-15px);
}

.clean{
	clear: both;
}
.floorshow .show_part4{
	width: 1198px;
	height: 74px;
	border: 1px solid #ccc;
	border-top: 0;
}
.floorshow .show_part4 li{
	float: left;
	width: 199px;
	padding: 17px 0;
	text-align: center;
	position: relative;
}
.floorshow .show_part4 li img{
	width: 100px;
	height: 40px;
}
.floorshow .show_part4 li:hover img{
	display: none;
}
.floorshow .show_part4 li:hover span{
	display: block;
}
.floorshow .show_part4 li a span{
	color:#b20000;
	font-size: 14px;
	width: 100px;
	height: 24px;
	line-height: 24px;
	position: absolute;
	border:1px solid #b30000;
	border-radius: 5px;
	padding: 8px 0;
	top: 17px;
	left: 50px;
	display: none;
}
.like-l{
	width: 270px;
	height: 246px;
	margin-left: 17px;
	float: left;
}
.like-l li{
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	margin-left: 30px;
	margin-top: 15px;
}
.like-l li span{
	font-size: 14px;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 8px 0;
	margin-top: 15px;
	width: 100px;
	display: block;
	float: left;
	height: 21px;
	line-height: 21px;
}
.like-l li:hover span{
	border: 1px solid #b30000;
}
.like-l li:hover a span{
	color: #b20000!important;
}
.like-r{
	width: 880px;
	height: 246px;
	float: right;
}
.like-r dl{
	width: 180px;
	float: left;
	text-align: center;
	position: relative;
	padding: 0 20px;
	margin:20px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
}
.like-r dl img{
	width: 160px;
	height: 160px;
}
.like-r dl dd{
	margin-top: 10px;
}
.like-r dl dd p:first-child{
	color: #333;
}
.like-r dl dd p:last-child{
	color: #c00;
}
.like-r dl dd p span{
	color: #c00;
}
.floor_style_3 {
	width: 1200px;
	margin: 0 auto 40px;
	overflow: hidden
}
.brand {
	width: 1200px;
	margin-bottom: 22px;
	height: 336px
}
.brand dl {
	margin-right: 10px;
	float: left
}
.brand dl:last-child {
	margin-right: 0
}
.brand dl a dt {
	background: red;
	width: 292px;
	height: 260px;
	overflow:hidden;
}
.brand dl a dd {
	width: 292px;
	height: 89px;
	background: #EEEEEE;
	text-align: center;
}
.brand dl a dd p{
	width: 292px;
	height: 40px;
	padding: 10px 0 8px 0;
}
.brand dl a dd p:last-child{
	color: #666;
	font-size: 12px;
	height: 31px!important;
	padding-top: 0;
	padding-bottom: 13px;
}
.brand img{
	transition: 2s
}
.brand img:hover{
	transform: scale(1.2);
}
.guesslike {
	border-top: 1px solid #ccc;
	width: 1200px;
	height: 247px;
}
.floor_style_4 .brand dd{
	width: 270px;
	height: 24px;
	color: #333;
	text-align: left;
	padding: 18px 0 18px 22px;
}
.floor_style_5 {
	width: 1200px;
	height: 321px;
	margin: 0 auto
}
.floor_style_5 #floor_left {
	float: left;
	width: 292px;
	height: 321px;
}
.floor_style_5 #floor_right {
	float: right;
	width: 890px;
	height: 321px;
}


#floor_left img{
	width: 292px;
	height: 180px;
	margin-top: 10px;
	display: inline-block;
}
#floor_left .floormean p{
	width: 290px;
	height: 60px;
	border: 1px solid #e5e5e5;
	border-top: 0;
	padding: 15px 0;
	margin-top: -13px;
}
#floor_left .floormean p a{
	display: block;
	width: 24.5%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	float: left;
}#floor_left .floormean p a:hover{
	color: #ce0000;
    text-decoration: underline;
}
#floor_right .new_wrap{
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 40px 0 53px 0;
	height: 177px;
}
#floor_right .new_wrap dl{
	float: left;
	width: 255px;
	padding: 0 22px 0 15px;
}
#floor_right .new_wrap dl dt{
	width: 225px;
	height: 26px;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
#floor_right .new_wrap dl dt a{
	color: #333;
}
#floor_right .new_wrap dl dd a{
	line-height: 26px;
	font-size: 12px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	color: #666
}
#floor_right .new_wrap dl a:hover{
	color: #b01330;
    text-decoration: underline;
}
