@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-31 10:26:34
 * @version $Id$
 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*头部*/
#header{
	width: 100%;
	overflow: hidden;
}
#bglink{
	display: block;
	width: 100%;
}
#toplink{
	width: 1200px;
	height: 60px;
	/*解决在div中插入图片时，图片会将div下方撑大三像素的问题*/
	display: block;
	margin: 0 auto;
}
#topmean{
	width: 100%;
	background-color: #333333;
}
#wrap{
	width: 1200px;
	height: 28px;
	margin: 0 auto;
}
#wrap ul{
	float: right;
}
#wrap li{
	height: 28px;
	line-height: 28px;
	float: left;
	margin:0 10px;
}
#wrap li a{
	color: #ccbeb8;
	font-size: 11px;
}
#wrap li:last-child {
	width: 76px;
}
#wrap li:last-child a{
	padding-left: 23px;
}
#wrap li:last-child span{
	font-size: 13px;
	color: #4a5545;
}
#wrap li:nth-child(3){
	width: 96px;
}
#wrap li:nth-child(3) a{
	padding: 0 19px;
}
#wrap li:nth-child(3) span{
	font-size: 13px;
	color: #4a5545;
}
#wrap li:nth-child(2) a{
	color: #d9c398;
}
#logsearch{
	width: 1200px;
	margin: 0 auto;
}
#logsearch h1{
	float: left;
}
#logsearch h1 a{
	display: inline-block;
	background: url(../base_new.png) no-repeat;
	background-position: 0 0;
	width: 112px;
	height: 75px;
	margin: 25px 0 25px 50px;
}
#logsearch div{
	padding-left: 15px;
	padding-top: 28px;
	float: left;
}
#logsearch div a img{
	display: inline-block;
}
#logsearch #searchform{
	float: right;
	padding-top: 30px;
}
#logsearch #searchtext{
	padding-top: 0;
	padding-left: 0;
	width: 360px;
}
#search{
	width: 360px;
	height: 38px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
	outline: none;
	padding-left: 30px;
	background: url(../base_new.png) no-repeat center center;
	background-position: -372px 0;
}
#searchtext p a{
	color: #999999;
	font-size: 11px;
	padding-right: 15px;
}
#searchtext p span{
	font-size: 17px;
	font-weight: 100;
	color: #d9d9d9;
	padding-right: 13px;
}
#shopingcar{
	display: inline-block;
	width: 182px;
	height: 38px;
	line-height: 38px;
	border: 1px solid rgb(221, 221, 221);
	background-color: white;
	margin-left: 16px;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	color: #666666;
}
#shopingcar span{
	display: inline-block;
	width: 21px;
	height: 21px;
	background: url(../bases.png) no-repeat;
	background-position: -118px 0;
	position: relative;
	top:5px;
	margin-right: 8px;
}
#shopingcar p{
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #b32424;
	line-height: 19px;
	color: white;
}

/*导航区域*/
#nav{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#nav div{
	width: 210px;
	height: 42px;
	line-height: 42px;
	float: left;
	background-color: #b32424;
	text-align: center;
}
#nav div a{
	color: white;
	font-size: 13px;
}
#nav ul{
	float: left;
	margin-left: 8px;
}
#nav li{
	float: left;
	text-align: center;
	height: 42px;
	line-height: 42px;
	padding-left: 40px;
	position: relative;
}
#nav li a{
	display: block;
	height: 42px;
	font-size: 13px;
	color: #666666;
	font-weight: bold;
}
#nav li a:hover{
	border-bottom: 4px solid #b32424;
}
#nav li:first-child img{
	position: absolute;
	right: -18px;
	top:0;
}
#banner{
	width: 100%;
	height: 430px;
	text-align: center;
	background-color: #060509;
}
#banner img{
	width: 1500px;
	height: 430px;
	display: inline-block;
}
#floor{
	width: 1200px;
	margin:0 auto;
}
#cebiannav{
	width: 40px;
	height: 286px;
	position: fixed;
	margin-left: -50px;
	top:30%;
	background: pink;
	font-size: 12px;
}
#cebiannav li{
	width: 40px;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid;
	text-align: center;
}
#cebiannav li:nth-child(5){
	line-height: 20px;
}

#cebiannav li:last-child{
	border: none;
}
#floornav{
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #e5e5e5;
}
#floornav ul{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
#floornav ul li{
	float: left;
	padding: 0 80px;
	height: 53px;
	width: 25%;
	line-height: 53px;
	position: relative;
}
#floornav ul li a{
	color: #666666;
	font-size: 12px;
}
#floornav ul li:first-child span{
	background: url(../wbg.png) no-repeat;
	background-position: 0 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 20px;
}
#floornav ul li:nth-child(2) span{
	background: url(../wbg.png) no-repeat;
	background-position: -45px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 20px;
}
#floornav ul li:nth-child(3) span{
	background: url(../wbg.png) no-repeat;
	background-position: -93px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 20px;
}
#floornav ul li:last-child span{
	background: url(../wbg.png) no-repeat;
	background-position: -141px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 20px;
}
#floor_1{
	width: 1200px;
	height: 150px;
	margin: 30px auto 40px;
}
#floor_1 ul li{
	float: left;
	height: 150px;
	margin-right: 4px;
}
#floor_1 ul li:last-child{
	margin-right: 0;
}
#floor_1 ul li img{
	width: 297px;
	height: 150px;
}
#floor_2{
	width: 1200px;
	height: 499px;
	margin: 0 auto 40px;
}
.floormean h3{
	float: left;
	height: 39px;
	line-height: 39px;
}
.floormean h3 a{
	font-size: 26px;
	font-weight: bold;
	color: #333;
}
.floormean h3 a span{
	background: url(../heading.png) no-repeat;
	background-position: 0 0;
	width: 67px;
	height: 25px;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
}
.floormean p{
	padding-top: 7px;
	height: 39px;
	float: right;
}
.floormean p a{
	font-size: 12px;
	color: #666666;
}
.floormean p span{
	color: #cccfda;
	font-size: 12px;
	display: inline-block;
	padding: 0 8px;
}
.floormean{
	height: 39px;
	line-height: 39px;
	margin-bottom: 10px;
	position: relative;
}

.floorshow{
	height: 460px;
	background: red;
}

.floorshow .show_part1{
	width: 400px;
	height: 375px;
	float: left;
	background: green;
}
.floorshow .show_part2{
	width: 275px;
	height: 375px;
	border: 1px solid #ccc;
	border-left: none;
	float: left;
	background: yellow;
}
.floorshow .show_part3{
	width: 525px;
	height: 375px;
	border: 1px solid #ccc;
	border-left: none;
	float: left;
	background: pink;
}
#floor_3{
	width: 1200px;
	height: 499px;
	margin: 0 auto 40px;
	overflow: hidden;
}
.brand{
	width: 1200px;
	margin-bottom: 22px;
	height: 336px;
}
.brand dl{
	margin-right: 10px;
	float: left;
}
.brand dl:last-child{
	margin-right: 0;
}
.brand dl a dt{
	background: red;
	width: 292px;
	height: 260px;
}
.brand dl a dd{
	background: black;
	width: 292px;
	height: 76px;
}
.guesslike{
	border-top: 1px solid #ccc;
	width: 1200px;
	height: 247px;
	margin-bottom: 35px;
	background: pink;
}
#floor_4{
	width: 1200px;
	height: 321px;
	margin: 0 auto;
}
#floor_4 #floor_left{
	float: left;
	width: 292px;
	height: 321px;
	background: pink;
}
#floor_4 #floor_right{
	float: right;
	width: 890px;
	height: 321px;
	background: purple;
}
#promise{
	height: 62px;
	background: red;
	width: 100%;
}
.wrap{
	width: 1200px;
	height: 100%;
	margin:0 auto;
	position: relative;
}

#footer{
	width: 100%;
	height: 546px;
}
#footer_part1{
	background: purple;
	height: 261px;
	border-bottom: 1px solid #ccc;
}
#footer_part2{
	background: pink;
	height: 255px;
}
