#header {
	width: 100%;
	height: 213px
}
#header .header_activity {
	width: 100%;
	height: 60px
}
#header .header_activity .activity_banner {
	width: 100%;
	height: 100%;
	position: relative
}
#header .header_activity .activity_banner .activity_link {
	width: 100%;
	display: block;
	position: absolute
}
#header .header_activity .activity_banner .activity_link img {
	width: 1200px;
	height: 60px;
	display: block;
	margin: 0 auto
}
#header .header_activity .close_activity {
	width: 1200px;
	margin: 0 auto;
	position: relative
}
#header .header_activity .close_activity span {
	display: inline-block;
	width: 17px;
	height: 22px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: -45px;
	right: 0;
	background: rgba(255, 255, 255, 0.3) url(../img/header/bases1.png);
	background-position: -511px -115px
}
#header .header_nav {
	width: 100%;
	height: 28px;
	background-color: #333333
}
#header .header_nav .header_nav_tab {
	width: 1200px;
	margin: 0 auto
}
#header .header_nav .header_nav_tab ul {
	float: right
}
#header .header_nav .header_nav_tab ul li {
	height: 28px;
	line-height: 28px;
	float: left;
	padding: 0 10px
}
#header .header_nav .header_nav_tab ul li a {
	color: #ccbeb8;
	font-size: 11px
}
#header .header_nav .header_nav_tab ul li a:hover {
	color: white !important
}
#header .header_nav .header_nav_tab ul li:last-child {
	width: 76px
}
#header .header_nav .header_nav_tab ul li:last-child a {
	padding-left: 23px
}
#header .header_nav .header_nav_tab ul li:last-child span {
	font-size: 13px;
	color: #4a5545
}
#header .header_nav .header_nav_tab ul li:nth-child(3) {
	width: 100px
}
#header .header_nav .header_nav_tab ul li:nth-child(3) a {
	padding: 0 19px
}
#header .header_nav .header_nav_tab ul li:nth-child(3) span {
	font-size: 13px;
	color: #4a5545
}
#header .header_nav .header_nav_tab ul li:nth-child(2) a {
	color: #d9c398
}
#header .header_nav .header_nav_tab ul li:nth-child(4) {
	position: relative
}
#header .header_nav .header_nav_tab ul li:nth-child(4):hover {
	background-color: white
}
#header .header_nav .header_nav_tab ul li:nth-child(4):hover a {
	color: black !important
}
#header .header_nav .header_nav_tab ul li:nth-child(4):hover .nav_touch_block {
	display: block
}
#header .header_nav .header_nav_tab .nav_touch_block {
	display: none;
	position: absolute;
	top: 28px;
	right: 0;
	z-index: 999;
	width: 220px;
	height: 220px;
	background: white
}
#header .header_nav .header_nav_tab .nav_touch_block .img-box {
	width: 220px;
	height: 186px
}
#header .header_nav .header_nav_tab .nav_touch_block .img-box a {
	display: inline-block;
	margin: 30px 47px
}
#header .header_nav .header_nav_tab .nav_touch_block .img-box img {
	display: inline-block !important;
	width: 126px;
	height: 126px
}
#header .header_nav .header_nav_tab .nav_touch_block .img-box2 {
	display: none
}
#header .header_nav .header_nav_tab .nav_touch_block .tab_change {
	width: 220px;
	height: 40px;
	font-size: 12px;
	color: #333
}
#header .header_nav .header_nav_tab .nav_touch_block .tab_change ul li {
	display: block;
	width: 110px;
	height: 40px;
	text-align: center;
	padding: 0;
	line-height: 40px;
	cursor: pointer
}
#header .header_nav .header_nav_tab .nav_touch_block .tab_change .tab_in {
	background: #332e2e;
	color: #fff
}
#header .header_nav .header_nav_tab ul li:nth-child(6) {
	position: relative
}
#header .header_nav .header_nav_tab ul li:nth-child(6):hover {
	background-color: white
}
#header .header_nav .header_nav_tab ul li:nth-child(6):hover a {
	color: black !important
}
#header .header_nav .header_nav_tab .nav_touch_block2 {
	width: 220px;
	height: 171px;
	position: absolute;
	z-index: 1;
	top: 28px;
	right: 0;
	background: white;
	display: none
}
#header .header_nav .header_nav_tab ul li:nth-child(6):hover .nav_touch_block2 {
	display: block
}
#header .header_nav .header_nav_tab ul li:nth-child(6):hover .nav_touch_block2 a {
	color: #666
}
#header .header_nav .header_nav_tab .nav_touch_block2 .helplink {
	box-sizing: border-box
}
#header .header_nav .header_nav_tab .nav_touch_block2 .helplink:hover {
	padding-left: 2px
}
#header .header_nav .header_nav_tab .nav_touch_block2 .helptxt {
	width: 185px;
	height: 54px;
	margin: 15px auto;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee
}
#header .header_nav .header_nav_tab .nav_touch_block2 .helptxt a {
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center
}
#header .header_nav .header_nav_tab .nav_touch_block2 .teltxt {
	width: 185px;
	height: 54px;
	margin: 15px auto;
	color: #666
}
#header .header_nav .header_nav_tab .nav_touch_block2 .teltxt p {
	font-size: 12px;
	text-align: center;
	padding-top: 3px;
	color: #666
}
#header .logo-search {
	width: 1200px;
	margin: 0 auto
}
#header .logo-search h1 {
	float: left;
	font-size: 0px
}
#header .logo-search h1 a {
	display: inline-block;
	background: url(../img/header/base_new.png) no-repeat;
	background-position: 0 0;
	width: 112px;
	height: 75px;
	margin: 25px 0 25px 50px
}
#header .logo-search div {
	padding-left: 15px;
	padding-top: 28px;
	float: left
}
#header .logo-search div a img {
	display: inline-block
}
#header .logo-search #searchform {
	float: right;
	padding-top: 30px
}
#header .logo-search #searchtext {
	padding-top: 0;
	padding-left: 0;
	width: 360px
}
#search {
	width: 328px;
	height: 38px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
	padding-left: 30px;
	background: url(../img/header/base_new.png) no-repeat center center;
	background-position: -372px 0
}
#searchtext {
	position: relative
}
#searchtext p a {
	color: #999999;
	font-size: 11px;
	padding-right: 15px
}
#searchtext p a:hover {
	text-decoration: underline;
	color: black
}
#searchtext p span {
	font-size: 17px;
	font-weight: 100;
	color: #d9d9d9;
	padding-right: 13px
}
#searchtext #searchbtn {
	display: none;
	text-align: center;
	width: 80px;
	height: 30px;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #fff;
	font-size: 14px;
	border: 0;
	background: #b32424;
	line-height: 30px;
	border-radius: 3px;
	outline: 0
}
#shopingcar {
	display: inline-block;
	width: 182px;
	height: 38px;
	line-height: 38px;
	border: 1px solid rgb(221, 221, 221);
	background-color: white;
	margin-left: 16px;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	color: #666666
}
#shopingcar span {
	display: inline-block;
	width: 21px;
	height: 21px;
	background: url(../img/header/bases.png) no-repeat;
	background-position: -118px 0;
	position: relative;
	z-index: 0;
	top: 5px;
	margin-right: 8px
}
#shopingcar p {
	display: inline-block;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #b32424;
	line-height: 19px;
	color: white
}



/*主体部分*/
#main{
	width: 100%;
}
#cttouch{
	margin-top: 42px;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index: 1;
	display: none;
}
#main .main_nav {
	width: 1200px;
	margin: 0 auto;
	height: 42px;
}
#main .main_nav .products_link {
	width: 210px;
	height: 42px;
	line-height: 42px;
	float: left;
	background-color: #b32424;
	text-align: center;
	position: relative;
}
#main .main_nav .products_link a {
	color: white;
	font-size: 13px
}
#main .main_nav .products_link .pinpai_nav{
	width: 210px;
	height: 430px;
	position: absolute;
	top:42px;
	background: #464341;
	z-index: 1;
	color: white;
}
#main .main_nav .products_link .pinpai_nav li{
	box-sizing: border-box;
	padding: 23px 0 22px 18px;
	text-align: left;
	width: 210px;
	height: 86px;
	border-bottom: 1px solid #575757;
}
#main .main_nav .products_link .pinpai_nav li p{
	height: 21px;
	line-height: 21px;
}
#main .main_nav .products_link .pinpai_nav li .pinpailei{
	margin-bottom: 3px;
}
#main .main_nav .products_link .pinpai_nav li .pinpailei a{
	font-size: 14px!important;
	color: white;
}
#main .main_nav .products_link .pinpai_nav li .pin_pai a{
	font-size: 10px!important;
	color: #B5B5B5;
	margin-right: 4px;
}
#main .main_nav .products_link .pinpai_nav .pin_pai a:hover{
	text-decoration: underline;
}
#main .main_nav .products_link .pinpai_nav li:hover {
	background: white;
}
#main .main_nav .products_link .pinpai_nav li:hover a{
	color: black;
}
#main .main_nav .products_link .pinpai_nav .bside{
	width: 780px;
    height: 428px;
    border: 2px solid #333;
    border-left: 0;
    background-color: #fff;
    position: absolute;
    top: -2px;
    left: 210px;
    display: none;
}
#main .main_nav .products_link .pinpai_nav .bside .col{
	border-bottom: 1px solid #eee;
	overflow: hidden;
	width: 688px;
	margin: 0 auto;
	padding: 20px 0;
	float: none;
	background: none;
	font-size: 12px;
}
#main .main_nav .products_link .pinpai_nav .bside .col-1{
	padding: 15px 0;
	height: 217px;
}
#main .main_nav .products_link .pinpai_nav .bside .col-3{
	border-bottom: 0;
}
#main .main_nav .products_link .pinpai_nav .bside .col .t{
	color: #99857a;
	margin-top: 8px;
	margin-right: 15px;
	float: left;
	line-height: 15px;
}
#main .main_nav .products_link .pinpai_nav .bside .col-1 .t{
	margin-top: 50px;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_img_link{
	padding-top: 10px;
	padding-left: 2px;
	float: right;
	width: 578px;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_img_link a{
	width: 25%;
	padding: 15px 0;
	box-sizing: border-box;
	text-align: center;
	color: #333;
	font-size: 12px;
	float: left;
	cursor: pointer;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_img_link img{
	width: 100px;
	height: 40px;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_img_link p{
	margin-top: 5px;
	color: #999;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_txt_link{
	float: left;
	width: 616px;
	line-height: 30px;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_txt_link a{
	color: #666;
	font-size: 12px;
}
#main .main_nav .products_link .pinpai_nav .bside .col .list_txt_link span{
	padding: 0 12px;
}
#main .main_nav .products_link .pinpai_nav .bside .col-2 .list_txt_link{
	/*padding-right: 60px;*/
	box-sizing: border-box;
}
#main .xuanbiaozhongxin{
	display: none;
	width: 100%;
	height: 363px;
	position: absolute;
	background: white;
	z-index: 2;
}
#main .xuanbiaozhongxin .xbzxwrap{
	box-sizing: border-box;
	width: 1200px;
	height: 363px;
	margin: 0 auto;
	padding: 40px 0;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist{
	width: 330px;
	margin: 0 35px;
	float: left;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist .list1{
	width: 290px;
	margin: 0 auto;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist .list1 ul:last-child{
	border: none;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist .list_h{
	display: block;
	font-weight: bold;
	font-size: 24px;
	color: #333;
	position: relative;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist .list_img{
	display: block;
	margin: 10px 0;
	text-align: center;
	width: 290px;
	height: 93px;
	overflow: hidden;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist ul{
	border-bottom: 1px solid #eee;
	width: 290px;
	height: 38px;
	line-height: 38px;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist ul li:first-child{
	width: 58px;
	float: left;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist ul li:first-child a{
	font-weight: bold;
	color: #99857a;
	padding: 10px 0;
	font-size: 12px;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist ul li:nth-child(2){
	width: 231px;
	float: left;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist ul li:nth-child(2) a{
	display: block;
	float: left;
	font-size: 12px;
	color: #666;
	padding-top: 1px;
	margin-left: 16px;
}
#main .xuanbiaozhongxin .xbzxwrap .xbzxlist ul li:nth-child(2) .more{
	width: 16px;
	height: 38px;
	display: inline-block;
	float: right;
	background: url(../img/header/base_new.png) no-repeat;
	background-position: -217px 0;
}







#main .main_nav .nav_ul {
	float: left;
	margin-left: 8px
}
#main .main_nav .nav_ul li {
	float: left;
	text-align: center;
	height: 42px;
	line-height: 42px;
	padding-left: 40px;
	position: relative
}
#main .main_nav .nav_ul li a {
	display: block;
	height: 38px;
	font-size: 13px;
	color: #666666;
	font-weight: bold
}
#main .main_nav .nav_ul li a:hover {
	border-bottom: 4px solid #b32424
}
#main .main_nav .nav_ul li:first-child img {
	position: absolute;
	right: -18px;
	top: 2px;
	animation: yh .4s infinite ease
}
@-webkit-keyframes yh {
	0% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0)
	}
	50% {
		transform: translate(0, -2px);
		-webkit-transform: translate(0, -2px)
	}
	100% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0)
	}
}
@keyframes yh {
	0% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0)
	}
	50% {
		transform: translate(0, -2px);
		-webkit-transform: translate(0, -2px)
	}
	100% {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0)
	}
}
#main .main_banner {
	width: 100%;
	height: 430px;
	text-align: center;
	position: relative;
	overflow: hidden;
}
#main .main_banner  ul{
	width: 100%;
	height: 430px;
	position: absolute;
}
#main .main_banner  ul li{
	position: absolute;
	width: 100%;
	height: 430px;
	overflow: hidden;
	display: none;
}
#main .main_banner  ul li img {
	width: 100%;
	height: 100%;
	display: inline-block;
	animation: suoxiao 4s
}

@keyframes suoxiao {
	0% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);

	}
}
#pages{
	box-sizing: border-box;
	padding: 0 15px;
	height: 30px;
	border-radius: 20px;
	background: rgba(0,0,0,0.7);
	text-align: center;
	margin:385px auto 0;
}
.circle{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #ccc;
	opacity: 0.9;
	float: left;
	margin: 10px;
}
.current{
	background: black;
	width: 14px;
	height: 14px;
	border: 2px solid white;
	background: rgba(0,0,0,0);
	margin: 6px 10px;
}
.prnt{
	width: 1200px;
	height: 430px;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}
#prev, #next {
	width: 30px;
	height: 90px;
	position: absolute;
	z-index: 4;
	top:40%;
	text-align: center;
	line-height: 100px;
	font-size:50px;
	cursor: pointer;
	background: url(../img/main/indexs.png);
}
#prev{
	left:210px;
	background-position: 0 -16px;
}
#next {
	right: 0;
	background-position: -30px -16px;
}
#prev:hover{
	background-position: 0 -106px;
}
#next:hover{
	background-position: -30px -106px;
}






























#floor {
	width: 1200px;
	margin: 0 auto
}
#cebiannav {
	width: 40px;
	height: 286px;
	position: fixed;
	margin-left: -50px;
	top: 20%;
	background: #F4F4F4;
	font-size: 12px
}
#cebiannav li {
	width: 40px;
	height: 41px;
	line-height: 41px;
	border-bottom: 1px solid #DDDDDD;
	text-align: center
}
#cebiannav li:hover{
	background: #666666;
	color: white;
}
#cebiannav li:nth-child(5) {
	line-height: 20px
}
#cebiannav li:last-child {
	border: none
}
.floor_wel {
	width: 100%;
	height: 53px;
	border-bottom: 1px solid #e5e5e5
}
.floor_wel ul {
	width: 1200px;
	margin: 0 auto;
	position: relative
}
.floor_wel ul li {
	float: left;
	text-align: center;
	box-sizing: border-box;
	padding: 0 80px;
	height: 53px;
	width: 25%;
	line-height: 53px;
	position: relative
}
.floor_wel ul li a {
	color: #666666;
	font-size: 12px
}
.floor_wel ul li:first-child span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: 0 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_wel ul li:nth-child(2) span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: -45px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_wel ul li:nth-child(3) span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: -93px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_wel ul li:last-child span {
	background: url(../img/main/wbg.png) no-repeat;
	background-position: -141px 0;
	width: 48px;
	height: 48px;
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 60px
}
.floor_showpic {
	width: 1200px;
	height: 150px;
	margin: 30px auto 40px
}
.floor_showpic ul li {
	float: left;
	height: 150px;
	margin-right: 4px
}
.floor_showpic ul li:last-child {
	margin-right: 0
}
.floor_showpic ul li img {
	width: 297px;
	height: 150px
}
.floor_2 {
	width: 1200px;
	height: 499px;
	margin: 0 auto 40px
}
.floormean h3 {
	float: left;
	height: 39px;
	line-height: 39px
}
.floormean h3 a {
	font-size: 26px;
	font-weight: bold;
	color: #333
}
.floormean h3 a span {
	/*background: url(../heading.png) no-repeat;*/
	background-position: 0 0;
	width: 67px;
	height: 25px;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle
}
.floormean p {
	padding-top: 7px;
	height: 39px;
	float: right
}
.floormean p a {
	font-size: 12px;
	color: #666666
}
.floormean p span {
	color: #cccfda;
	font-size: 12px;
	display: inline-block;
	padding: 0 8px
}
.floormean {
	height: 39px;
	line-height: 39px;
	margin-bottom: 10px;
	position: relative
}
.floorshow {
	height: 460px;
	overflow: hidden;
}
.floorshow .show_part1 {
	width: 400px;
	height: 375px;
	float: left;
	position: relative;
}
.floorshow .show_part1 ul{
	width: 400px;
	height: 377px;
	position: absolute;
}
.floorshow .show_part1 ul li{
	width: 400px;
	height: 377px;
	position: absolute;
}
.floorshow .show_part1 ul li img{
	width: 400px;
	height: 377px;
}
.floorshow .show_part1 div{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 30px;
	padding: 10px 15px;
	width: 225px;
	background: red;
}
.floorshow .show_part1 div p{
	color: #fff;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.floorshow .show_part1 div p:first-child {
	font-size: 20px;
}
.floorshow .show_part1 div p:last-child {
	font-size: 14px;
}
.floorshow .show_part2 {
	width: 275px;
	height: 375px;
	border: 1px solid #ccc;
	border-left: none;
	float: left;
}
.floorshow .show_part2 p{
	text-align: center;
	line-height: 24px;
}
.floorshow .show_part2 p:first-child{
	width: 240px;
	height: 240px;
	padding: 25px 0 18px 0;
	margin: 0 auto;
}
.floorshow .show_part2 p:nth-child(2){
	color: #333;
	font-size: 16px;
}
.floorshow .show_part2 p:last-child{
	color: #b22424;
	font-size: 12px;
}


.floorshow .show_part3 {
	width: 523px;
	height: 375px;
	border: 1px solid #ccc;
	border-left: none;
	float: left;
}
.floorshow .show_part3 .part_1{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	border-bottom: 1px solid;
	border-right: 1px solid;
}
.floorshow .show_part3 .part_1 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2
}
.floorshow .show_part3 .part_1 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_1 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_1 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}
.floorshow .show_part3 .part_2{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	border-bottom: 1px solid;
}
.floorshow .show_part3 .part_2 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2;
}
.floorshow .show_part3 .part_2 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_2 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_2 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}.floorshow .show_part3 .part_3{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
	border-right: 1px solid;
}
.floorshow .show_part3 .part_3 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2;
}
.floorshow .show_part3 .part_3 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_3 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_3 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}.floorshow .show_part3 .part_4{
	position: relative;
	float: left;
	width: 260px;
	height: 186px;
	margin: 1px 1px 0 0;
	overflow: hidden;
}
.floorshow .show_part3 .part_4 div{
	position: absolute;
	left: 25px;
	top: 45px;
	z-index: 2;
}
.floorshow .show_part3 .part_4 p:first-child{
	line-height: 20px;
	color: #333;
	font-size: 14px;
}
.floorshow .show_part3 .part_4 p:last-child{
	line-height: 20px;
	color: #b22424;
	font-size: 14px;
}
.floorshow .show_part3 .part_4 img{
	position: absolute;
	bottom: -15px;
	right: -20px;
}
.clean{
	clear: both;
}
.floorshow .show_part4{
	width: 1198px;
	height: 74px;
	border: 1px solid;
	border-top: 0;
}
.floorshow .show_part4 li{
	float: left;
	width: 199px;
	padding: 17px 0;
	text-align: center;
	position: relative;
}
.floorshow .show_part4 li span{
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	background: rgba(0,0,0,0.7);
	top: 17px;
	left: 50px;
}
.like-l{
	width: 270px;
	height: 246px;
	margin-left: 17px;
	float: left;
}
.like-l li{
	float: left;
	overflow: hidden;
	width: 100px;
	height: 40px;
	text-align: center;
	margin-left: 30px;
}
.like-r{
	width: 880px;
	height: 246px;
	float: right;
}
.like-r dl{
	width: 180px;
	float: left;
	text-align: center;
	position: relative;
	padding: 0 20px;
	margin:20px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
}
.like-r dl img{
	width: 160px;
	height: 160px;
}
.floor_style_3 {
	width: 1200px;
	margin: 0 auto 40px;
	overflow: hidden
}
.brand {
	width: 1200px;
	margin-bottom: 22px;
	height: 336px
}
.brand dl {
	margin-right: 10px;
	float: left
}
.brand dl:last-child {
	margin-right: 0
}
.brand dl a dt {
	background: red;
	width: 292px;
	height: 260px
}
.brand dl a dd {
	width: 292px;
	height: 76px
}
.guesslike {
	border-top: 1px solid #ccc;
	width: 1200px;
	height: 247px;
	background: pink
}
.floor_style_5 {
	width: 1200px;
	height: 321px;
	margin: 0 auto
}
.floor_style_5 #floor_left {
	float: left;
	width: 292px;
	height: 321px;
}
.floor_style_5 #floor_right {
	float: right;
	width: 890px;
	height: 321px;
}


#floor_left img{
	width: 290px;
	height: 180px;
}
#floor_right .new_wrap{
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 40px 0 53px 0;
	height: 177px;
}
#floor_right .new_wrap dl{
	float: left;
	width: 255px;
	padding: 0 22px 0 15px;
}
#floor_right .new_wrap dl dt{
	width: 225px;
	height: 46px;
	text-align: center;
}
#floor_right .new_wrap dl dd a{
	line-height: 26px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%
	color:#666;
}



#promise {
	height: 62px;
	background: red;
	width: 100%
}
.wrap {
	width: 1200px;
	margin: 0 auto
}
#footer {
	width: 100%;
	margin: 0;
	overflow: hidden
}
#footer .footer_red {
	background-color: #ae0e16;
}
#footer .footer_red .footer_wrap {
	width: 1200px;
	height: 60px;
	background-color: #ae0e16;
	margin: 0 auto;
}
#footer .footer_red .footer_wrap .zp1, .zp2, .zp3, .zp4, .zp5 {
	width: 30px;
	height: 34px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	background: url(../img/footer/bases.png);
}
#footer .footer_red .footer_wrap .zp1 {
	background-position: -53px -25px
}
#footer .footer_red .footer_wrap .zp2 {
	background-position: -88px -25px
}
#footer .footer_red .footer_wrap .zp3 {
	background-position: -159px -25px
}
#footer .footer_red .footer_wrap .zp4 {
	background-position: -124px -25px
}
#footer .footer_red .footer_wrap .zp5 {
	background-position: -196px -25px
}
#footer .footer_red .footer_wrap a {
	width: 198px;
}
#footer .footer_red .footer_wrap a {
	width: 240px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	color: #fff !important;
	font-size: 14px;
	float: left
}
#footer .footer_red .footer_wrap a:hover {
	color: #fff
}

/*******底部-售后保障区结束*******/
#footer .footer_help {
	background-color: #eee;
	padding: 0 0 60px;
	border-bottom: 1px solid #ddd;
}
#footer .footer_help .footer_wrap {
	width: 1200px;
	padding-top: 60px;
	margin: 0 auto;
	overflow: hidden
}
#footer .footer_help .footer_wrap .help_part_1 {
	display: inline-block;
	vertical-align: top;
}
#footer .footer_help .footer_wrap .help_part_1 p {
	text-align: center;
	line-height: 30px
}
#footer .footer_help .footer_wrap  .help_part_1 .p1 {
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	padding-bottom: 8px;
	color: #333;
}
#footer .footer_help .footer_wrap  .help_part_1 .p2 {
	font-size: 30px;
	color: #333;
}
#footer .footer_help .footer_wrap  .help_part_1 .p3 {
	font-size: 12px;
	color: #999
}
#footer .footer_help .footer_wrap  .help_part_1 .p4 a {
	color: #b22424;
	border: 1px solid #b32424;
	border-radius: 5px;
	padding: 2px 21px;
	margin: 0 5px;
	display: inline-block;
	margin-top: 20px;
	font-size: 12px;
}
#footer .footer_help .footer_wrap .help_part_2 {
	margin-left: 60px;
	display: inline-block;
}
#footer .footer_help .footer_wrap .part_code_3 {
	display: inline-block;
	width: 208px;
	margin-top: -10px;
	border-left: 1px solid #ddd
}
#footer .footer_help .footer_wrap .part_code_3 .tab_code {
	margin-left: 10px;
	overflow: hidden;
	display: block !important
}
#footer .footer_help .footer_wrap .part_code_3 ul li {
	width: 95px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #666;
	display: block;
	font-size: 12px;
	float: left;
	background: #ddd;
	cursor: pointer
}
#footer .footer_help .footer_wrap .part_code_3 ul .code_in {
	color: #fff;
	background: #666
}
#footer .footer_help .footer_wrap .part_code_3 .code_img {
	width: 93px;
	margin: 11px auto 8px auto
}
#footer .footer_help .footer_wrap .part_code_3 .code_img img {
	width: 100%
}
#footer .footer_help .footer_wrap .part_code_3 .code_txt {
	color: #666;
	display: block;
	text-align: center
}
#footer .footer_help .footer_wrap .part_code-02 {
	border-right: 1px solid #ddd
}
#footer .footer_help .footer_wrap .part_code_3 .code_con2 {
	display: none
}
#footer .footer_help dl {
	width: 98px;
	float: left
}
#footer .footer_help dt {
	color: #333;
	font-weight: bold;
	font-size: 14px
}
#footer .footer_help dd {
	margin-top: 30px
}
#footer .footer_help dd a {
	width: 100%;
	color: #666;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
}
#footer .footer_help dd a:hover {
	color: #000;
}

/*底部-信息区*/
#footer .footer_info {
	width: 100%;
	background: #eee;
}
#footer .footer_info .footer_wrap {
	width: 100%;
}
#footer .footer_info .footer_wrap .footer_nav {
	padding-top: 25px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
}
#footer .footer_info .footer_wrap .footer_nav .addmore {
	display: none;
}
#footer .footer_info .footer_wrap .footer_nav a {
	color: #666;
	margin: 0 10px
}
#footer .footer_info .footer_wrap .footer_nav a:hover {
	color: #000
}
#footer .footer_info .footer_wrap .footer_nav .more {
	margin-left: 10px;
	font-family: "宋体";
	font-size: 14px;
	cursor: pointer
}

/*底部-信息区-信息导航结束*/
#footer .footer_wrap .footer_info_index {
	width: 1200px;
	margin: 30px auto 0;
	text-align: center;
	position: relative;
}
#footer .footer_wrap .footer_info_index p {
	line-height: 20px;
	font-size: 12px;
	color: #999;
}

/*底部-信息区-网站信息区结束*/
#footer .footer_wrap .footer_links {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0 20px;
}
#footer .footer_wrap .footer_links a {
	width: 107px;
	height: 35px;
	margin-right: 10px;
}

/*底部-信息区-网监链接区结束*/
#footer .footer_wrap .friends-links {
	width: 1200px;
	height: 20px;
	/*overflow: hidden;*/
	padding-right: 10px;
	margin: 0 auto;
	position: relative;
}
#footer .footer_wrap .friends-links a, span {
	font-size: 12px;
	color: #666666;
	padding-right: 5px;
}
#footer .footer_wrap .friends-links a:hover{
	color: #AE0E16;
}
#footer .footer_wrap .friends-links .more {
	display: block;
	position: absolute;
	right: 0px;
	top: 3px;
	cursor: pointer;
}
.more{
	font-family: "宋体";
    font-size: 14px;
    cursor: pointer;
}


/*底部-信息区-友情链接区结束*/
/*.b-corp {
	margin-top: 35px;
	text-align: center
}
.b-corp p {
	color: #999;
	margin-bottom: 10px
}
.b-corp p a {
	color: #999
}
.b-ico {
	text-align: center;
	margin-top: 30px
}
.b-ico a {
	display: inline-block;
	margin: 0 10px
}
.b-ico a img {
	display: inline-block
}
.b-frli {
	margin-top: 25px;
	color: #666;
	line-height: 20px;
	overflow: hidden
}
.b-frli .footer_wrap {
	position: relative
}
.b-frli span {
	display: inline-block
}
.b-frli a {
	margin-left: 10px;
	white-space: nowrap;
	display: inline-block
}
.b-frli .b-fml {
	margin-left: 10px;
	font-family: "宋体";
	font-size: 14px;
	cursor: pointer;
	position: absolute;
	right: -10px;
	top: 0
}
.main {
	margin: 0 auto;
	background-image: url(/img/5.0/base/main-bg.png?v03);
	background-repeat: repeat-x
}
.main-bg {
	background-color: #eee
}
.s-v .footer_wrap, .s-v .droptype_box .droptype_list {
	width: 990px !important
}
.help_part_1oad-mask {
	background-color: rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2
}
.help_part_1oad-3 {
	width: 32px;
	height: 32px;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -16px
}
.mask {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .6;
	filter: alpha(opacity=60)
}
.pop-zone {
	z-index: 4;
	display: none
}
.b-v .rel_cont {
	width: 1200px;
	text-align: center
}
.s-v .rel_cont img {
	width: 990px
}
.rel_cont {
	width: 990px;
	margin: 0 auto;
	overflow: hidden
}
.pop-zone2017 {
	height: 60px;
	display: block;
	width: 100%;
	overflow: hidden
}
.pop-zone2017 ul li {
	height: 60px;
	width: 100% !important
}
.pop-zone2017 ul li a img {
	margin: 0 auto;
	display: block
}
.pop-close {
	width: 32px;
	height: 32px;
	background-position: -268px -98px;
	position: absolute;
	right: 10px;
	top: 14px;
	cursor: pointer;
	z-index: 2
}
.pop-zone2017 .pop-close {
	right: 50%;
	margin-right: -590px
}
.s-v .pop-zone2017 .pop-close {
	margin-right: -486px
}
.pop-zone a.img-bg {
	width: 100%;
	height: inherit;
	background-repeat: no-repeat;
	background-position: top center;
	display: block
}
.pop-zone .style {
	width: 100%;
	display: none
}
.pop-zone .style-2 .top {
	display: none
}
.pop-zone .style-2 .bot {
	display: none
}
.marquee {
	height: 25px;
	line-height: 25px;
	width: 100%;
	overflow: hidden
}
.marquee ol {
	margin: 0;
	padding: 0;
	font-size: 12px;
	width: 100000%
}
.marquee ol li {
	float: left
}
.v-inbl-hide {
	display: inline-block
}
.v-show-hide {
	display: block
}
.v-hide-show {
	display: none
}
.s-v .v-inbl-hide {
	display: none
}
.s-v .v-show-hide {
	display: none
}
.s-v .v-hide-show {
	display: block
}
.position {
	float: left;
	padding: 10px 0 0 0;
	margin: 10px 0;
	font-size: 12px;
	width: 100%;
	color: #999
}
.position a {
	color: #999
}
.position code {
	font-family: "宋体";
	margin: 0 3px
}
.position h1 {
	display: inline;
	font-weight: normal;
	line-height: normal;
	font-size: 12px;
	color: #999
}
.position i {
	font-family: "宋体";
	font-style: normal;
	margin: 0 5px
}
#page_nav {
	clear: both;
	text-align: right;
	height: 34px;
	line-height: 34px;
	padding-top: 20px;
	margin: 10px 0;
	display: inline
}
#page_nav a, #page_nav span.pre, #page_nav span.next, #page_nav span.cur {
	display: inline-block;
	padding: 6px 12px;
	border: 1px solid #ddd;
	color: #997239;
	line-height: 18px;
	margin: 0 2px
}
#page_nav span {
	color: #997239
}
#page_nav span.cur {
	background-color: #b01330;
	color: #fff;
	border-color: #b01330
}
#page_nav a:hover {
	text-decoration: none;
	color: #b01330
}
#page_nav a.pre, #page_nav span.pre {
	display: inline-block;
	width: auto;
	_margin-bottom: 2px;
	position: relative
}
#page_nav a.next, #page_nav span.next {
	display: inline-block;
	width: auto;
	_margin-bottom: 2px;
	text-align: left;
	position: relative
}
#page_nav span.pre, #page_nav span.next {
	color: #999
}
#record {
	margin-left: 10px;
	font-size: 14px;
	font-family: "Microsoft Yahei";
	color: #999;
	text-align: right;
	display: inline
}
#record .txt {
	width: 46px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	border: 1px solid #eee
}
#record .btn {
	width: 43px;
	height: 25px;
	line-height: 25px;
	background-color: #b9a590;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: inline-block
}
.c-consult-box {
	width: auto;
	position: fixed;
	right: 80px;
	top: 190px;
	z-index: 9800000;
	display: none;
	background-color: #fff;
	border: 1px solid #b01330;
	border-radius: 5px;
	padding: 0 0 2px;
	box-shadow: 0 2px 5px #333
}
.c-consult-box .top {
	background-color: #b01330;
	text-align: center;
	height: 36px;
	line-height: 36px;
	position: relative
}
.c-consult-box .tit {
	color: #fff;
	font-size: 14px
}
.c-consult-box .close {
	width: 25px;
	height: 25px;
	line-height: 25px;
	color: #fff;
	font-size: 24px;
	display: block;
	background-color: #cf183a;
	position: absolute;
	right: 5px;
	top: 0
}
.c-consult-box .close:hover {
	background-color: #d03351
}
.c-consult-box .mid {
	text-align: center
}
#footer2015 {
	border-top: 1px solid #ddd;
	padding-top: 0 !important;
	clear: both;
	margin-top: 20px
}
#footer2015 .footer_help {
	background: #fff;
	padding: 35px 0 35px
}
#footer2015 .footer_help .footer_wrap {
	border-top: 0 none;
	padding-top: 0
}
#footer2015 .footer_help dl {
	width: 99px
}
.app_code {
	float: right
}
.app_code a {
	float: left;
	text-align: center;
	margin-right: 20px;
	display: inline
}
.app_code a p {
	white-space: nowrap
}
.app_code a p.p1 {
	color: #333;
	font-weight: bold;
	padding-top: 5px
}
.app_code a p.p2 {
	color: #ae0e16
}
#b_top, #main, #footer {
	width: 100%;
	min-width: 990px;
	background-color: #fafafa
}
#b_top {
	*z-index: 2 !important
}
.compare-on {
	display: block;
	position: absolute;
	right: 15px;
	bottom: 24px;
	color: #333
}
.compare-off {
	display: none
}
.v-pane .b-rsb .addwatch {
	height: 30px;
	text-indent: 0;
	width: 220px;
	background: #cba160
}
.add_watch {
	overflow: hidden
}
#compare-box .compare-box_sub {
	overflow: hidden;
	position: relative;
	width: 230px;
	margin: 0 auto;
	height: 100%
}
#compare-box .compare-box_sub .title {
	display: none;
	background-color: #ededed;
	border-bottom: #d0d0d0 1px solid;
	height: 25px;
	line-height: 25px;
	color: #333;
	padding: 0 5px;
	margin: 0
}
#compare-box .compare-box_sub .title strong {
	display: inline-block;
	float: left
}
#compare-box .compare-box_sub .title a {
	display: inline-block;
	float: right
}
#compare-box .compare-box_sub .compare-list li {
	width: 220px;
	padding: 30px 0;
	margin: 0;
	position: relative;
	font-size: 12px;
	overflow: hidden;
	background: url(/img/plugins/compare/vs.jpg?20150816) top center no-repeat
}
#compare-box .compare-box_sub .compare-list li p {
	_display: block;
	_position: absolute;
	_right: -15px;
	_top: 5px;
	color: #666;
	padding: 0 5px 3px 5px;
	width: 108px;
	white-space: normal;
	word-wrap: break-word;
	float: right;
	text-align: left;
	position: relative
}
#compare-box .compare-box_sub .compare-list li p b {
	color: #900;
	font-weight: bold
}
#compare-box .compare-box_sub .compare-list li p span {
	display: block;
	height: 73px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	line-height: 22px
}
#compare-box .compare-box_sub .compare-list li p .pname {
	color: #666
}
#compare-box .compare-box_sub .compare-list li p .pname:hover {
	color: #900;
	text-decoration: none
}
#compare-box .compare-box_sub .compare-list li p .removeButton {
	background: url(/img/plugins/compare/close_in.gif?20150815) no-repeat 0 0;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 0;
	bottom: 0
}
#compare-box .compare-box_sub .compare-list li p .removeButton:hover {
	background: url(/img/plugins/compare/close_in.gif?20150815) no-repeat 0 -16px
}
#compare-box .compare-box_sub .compare-list li select {
	width: 200px;
	margin-top: 10px
}
#compare-box .compare-box_sub .compare-btn img {
	display: inline-block;
	padding: 25px 0;
	text-align: center
}
#notice {
	width: 465px;
	color: #ffebb7;
	line-height: 29px;
	float: left;
	position: relative;
	height: 29px
}
#notice #n-sound {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 25px;
	height: 30px;
	background: #fffabc url(/img/common/4.0/sound2017.png) no-repeat 5px 9px
}
#notice .n-width {
	position: relative;
	overflow: hidden
}
#notice .n-letter {
	overflow: hidden;
	line-height: 30px;
	height: 30px
}
#notice #n-closed {
	display: none;
	position: absolute;
	right: 60px;
	top: 8px;
	width: 12px;
	height: 12px;
	line-height: 12px;
	background: url(/img/common/4.0/x.png) no-repeat;
	cursor: pointer
}
#n-text {
	font-size: 12px;
	color: #ccbeb8;
	height: 30px;
	display: block;
	line-height: 29px;
	padding: 0 10px
}
#notice a {
	position: absolute;
	top: 0;
	left: 0
}
#n-text:hover {
	color: #fff
}
.h {
	display: none !important
}
.arpb, .arpbb {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: table;
	background: url(/img/5.0/common/black30.png?2014111701) repeat 0 0\9;
	z-index: 99999
}
.arpb .arc, .arpbb .arc {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center
}
.arpb .arc .bxp, .arpbb .arc .bxp {
	display: inline-block
}
.m .droptype a {
	padding: 0 0 10px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	font-weight: normal
}
.s-v .m .droptype a {
	padding: 0 0 10px
}
.transparent {
	filter: alpha(opacity=0);
	opacity: 0
}
.arpbbl {
	position: fixed;
	bottom: 21px;
	left: 24px;
	z-index: 99999
}
.arpbbl .cls {
	position: absolute;
	display: block;
	top: -11px;
	right: -6px;
	background: url(/img/5.0/base/new_close.png?20151109) no-repeat 0 0;
	width: 23px;
	height: 23px;
	-webkit-transition: transform .2s ease-out 0s;
	-moz-transition: transform .2s ease-out 0s;
	transition: transform .2s ease-out 0s
}
.arpbbl .cls:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg)
}
.aridx {
	background-color: rgba(0, 0, 0, 0.6);
	background: url(/img/5.0/common/black60.png?20151110) repeat 0 0\9
}
.aridx .bxp .bxc {
	display: inline-block;
	position: relative
}
.aridx .bxp .bxc a {
	outline: 0;
	display: block;
	position: absolute
}
.aridx .bxp .bxc a.to_link {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(/img/5.0/common/tp.png?2015111701)
}
.aridx .bxp .bxc a.to_close {
	width: 35px;
	height: 35px;
	right: 10px;
	top: 10px;
	background-position: -184px 0;
	width: 16px;
	height: 16px
}
.arpb.arpd_closed {
	background-color: rgba(255, 255, 255, 0.5)
}
.arpd_closed .bxc {
	position: relative
}
.arpd_closed img {
	position: relative;
	z-index: 0
}
.arpd_closed .w_content {
	position: absolute;
	top: 95px;
	width: 360px;
	left: 328px;
	color: #fff;
	font-family: '微软雅黑';
	text-align: left
}
.arpd_closed .w_content h1 {
	font-size: 32px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	overflow: hidden
}
.arpd_closed .w_content p {
	font-size: 20px;
	height: 72px;
	line-height: 24px
}
.arpd_closed .w_content ul {
	margin-left: 140px;
	width: 160px
}
.arpd_closed .w_content ul li {
	height: 38px;
	line-height: 38px;
	margin-top: 15px
}
.arpd_closed .w_content ul li a {
	display: block;
	width: 100%;
	height: 38px;
	font-size: 0;
	background-color: #fff;
	opacity: 0
}
.arpd_closed .to_close {
	display: block;
	width: 45px;
	height: 45px;
	position: absolute;
	right: 0;
	top: 20px;
	overflow: hidden;
	font-size: 0;
	z-index: 999;
	background-color: #fff;
	opacity: 0
}
.b-aside .col-1 .bra-list a img, .help_part_1ogodiv a img, .brand_msg a p.p2 img {
	width: 100px;
	height: 40px
}
.s_11_banner {
	display: block;
	width: 970px;
	height: 120px;
	margin-bottom: 10px;
	overflow: hidden;
	margin-top: 50px
}
.s_11_banner img {
	width: 100%
}
.xb_kf_a {
	width: 80px;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	display: inline-block;
	font-size: 14px;
	background: #b01330;
	color: #fff;
	border-radius: 2px;
	text-align: center
}
.xb_kf_a:hover {
	color: #fff
}
.detail_ntips {
	width: 420px;
	height: 260px;
	position: fixed;
	left: 50%;
	margin-left: -175px;
	top: 50%;
	margin-top: -150px;
	z-index: 999;
	display: none;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition: all .5s;
	-webkit-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transform-origin: bottom right;
	-webkit-transform-origin: bottom right;
	-ms-transform-origin: bottom right;
	-moz-transform-origin: bottom right;
	-o-transform-origin: bottom right
}
.detail_ntips.ntips_hide {
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	border: 1px solid #f00
}
.detail_ntips.ntips_show dl {
	animation: tips_bounce .5s linear forwards;
	-webkit-animation: tips_bounce .5s linear forwards;
	-ms-animation: tips_bounce .5s linear forwards;
	-moz-animation: tips_bounce .5s linear forwards;
	-o-animation: tips_bounce .5s linear forwards
}
.detail_ntips dl {
	width: 100%;
	height: 100%;
	background: url(/img/5.0/goods/dialogs_icon.png?20160113) no-repeat;
	color: #fff;
	text-align: center;
	transform: translateY(-30px);
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-o-transform: translateY(-30px)
}
.detail_ntips dl dd {
	padding: 80px 0 25px 0;
	font-size: 16px;
	color: #666
}
.detail_ntips dl dd h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #aa1313
}
.detail_ntips dl dt a {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #666;
	border-radius: 3px;
	margin: 0 10px;
	background-color: #e5e5e5
}
.ntips_close {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 25px;
	top: 25px;
	cursor: pointer;
	background: url(/img/5.0/goods/close.png?20160113);
	-webkit-transition: transform .2s ease-out 0s;
	-moz-transition: transform .2s ease-out 0s;
	transition: transform .2s ease-out 0s
}
.ntips_close:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg)
}
.ntips_closebtn {
	background-color: #ff9f42
}
.ntips_nt {
	background-color: #aa1313 !important;
	color: #fff !important
}
@keyframes tips_bounce {
	40% {
		transform: translateY(10px)
	}
	70% {
		transform: translateY(-20px)
	}
	90% {
		transform: translateY(10px)
	}
	100% {
		transform: translateY(0px)
	}
}
@-webkit-keyframes tips_bounce {
	40% {
		-webkit-transform: translateY(10px)
	}
	70% {
		-webkit-transform: translateY(-20px)
	}
	90% {
		-webkit-transform: translateY(10px)
	}
	100% {
		-webkit-transform: translateY(0px)
	}
}
@-ms-keyframes tips_bounce {
	40% {
		-ms-transform: translateY(10px)
	}
	70% {
		-ms-transform: translateY(-20px)
	}
	90% {
		-ms-transform: translateY(10px)
	}
	100% {
		-ms-transform: translateY(0px)
	}
}
@-moz-keyframes tips_bounce {
	40% {
		-moz-transform: translateY(10px)
	}
	70% {
		-moz-transform: translateY(-20px)
	}
	90% {
		-moz-transform: translateY(10px)
	}
	100% {
		-moz-transform: translateY(0px)
	}
}
@-o-keyframes tips_bounce {
	40% {
		-o-transform: translateY(10px)
	}
	70% {
		-o-transform: translateY(-20px)
	}
	90% {
		-o-transform: translateY(10px)
	}
	100% {
		-o-transform: translateY(0px)
	}
}
.act-hb01 {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000
}
.hb-mask, .get_box .get_mask {
	background-color: #000;
	display: block;
	height: 100%;
	left: 0;
	opacity: .5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 101;
	filter: alpha(opacity=50)
}
.hb-box {
	position: fixed;
	top: 0;
	z-index: 102;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: scale(1, 1);
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition: all 1s;
	-webkit-transition: all 1s;
	-ms-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transform-origin: 90% 90%;
	-webkit-transform-origin: 90% 90%;
	-ms-transform-origin: 90% 90%;
	-moz-transform-origin: 90% 90%;
	-o-transform-origin: 90% 90%
}
.act-box-hide {
	transform: scale(0, 0);
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0)
}
.hb-box .hb1 {
	right: 50%;
	margin-right: -500px;
	animation: myimg01 4s .8s ease forwards;
	-webkit-animation: myimg01 4s .8s ease forwards;
	-moz-animation: myimg01 4s .8s ease forwards;
	-o-animation: myimg01 4s .8s ease forwards;
	-ms-animation: myimg01 4s .8s ease forwards
}
.hb-box .hb2 {
	left: 50%;
	margin-left: -200px;
	animation: myimg02 4s 1s ease forwards;
	-webkit-animation: myimg02 4s 1s ease forwards;
	-moz-animation: myimg02 4s 1s ease forwards;
	-o-animation: myimg02 4s 1s ease forwards;
	-ms-animation: myimg02 4s 1s ease forwards
}
.hb-box .hb3 {
	left: 50%;
	margin-left: -700px;
	animation: myimg03 4s .5s ease forwards;
	-webkit-animation: myimg03 4s .5s ease forwards;
	-moz-animation: myimg03 4s .5s ease forwards;
	-o-animation: myimg03 4s .5s ease forwards;
	-ms-animation: myimg03 4s .5s ease forwards
}
.hb-box .hb4 {
	left: 50%;
	margin-left: -500px;
	animation: myimg04 4s .8s ease forwards;
	-webkit-animation: myimg04 4s .8s ease forwards;
	-moz-animation: myimg04 4s .8s ease forwards;
	-o-animation: myimg04 4s .8s ease forwards;
	-ms-animation: myimg04 4s .8s ease forwards
}
.hb-box .hb5 {
	right: 50%;
	margin-right: 0;
	animation: myimg05 4s .5s ease forwards;
	-webkit-animation: myimg05 4s .5s ease forwards;
	-moz-animation: myimg05 4s .5s ease forwards;
	-o-animation: myimg05 4s .5s ease forwards;
	-ms-animation: myimg05 4s .5s ease forwards
}
.hb-box .hb6 {
	left: 67%;
	margin-left: -10px;
	animation: myimg14 4s 2.8s ease forwards;
	-webkit-animation: myimg14 4s 2.8s ease forwards;
	-moz-animation: myimg14 4s 2.8s ease forwards;
	-o-animation: myimg14 4s 2.8s ease forwards;
	-ms-animation: myimg14 4s 2.8s ease forwards
}
.hb-box .hb7 {
	left: 50%;
	margin-left: -550px;
	animation: myimg07 4s 3s ease forwards;
	-webkit-animation: myimg07 4s 3s ease forwards;
	-moz-animation: myimg07 4s 3s ease forwards;
	-o-animation: myimg07 4s 3s ease forwards;
	-ms-animation: myimg07 4s 3s ease forwards
}
.hb-box .hb8 {
	right: 50%;
	margin-right: -400px;
	animation: myimg08 4s 2.3s ease forwards;
	-webkit-animation: myimg08 4s 2.3s ease forwards;
	-moz-animation: myimg08 4s 2.3s ease forwards;
	-o-animation: myimg08 4s 2.3s ease forwards;
	-ms-animation: myimg08 4s 2.3s ease forwards
}
.hb-box .hb9 {
	left: 50%;
	margin-left: -600px;
	animation: myimg09 4s 2s ease forwards;
	-webkit-animation: myimg09 4s 2s ease forwards;
	-moz-animation: myimg09 4s 2s ease forwards;
	-o-animation: myimg09 4s 2s ease forwards;
	-ms-animation: myimg09 4s 2s ease forwards
}
.hb-box .hb10 {
	left: 50%;
	margin-left: -350px;
	animation: myimg10 4s 2.3s ease forwards;
	-webkit-animation: myimg10 4s 2.3s ease forwards;
	-moz-animation: myimg10 4s 2.3s ease forwards;
	-o-animation: myimg10 4s 2.3s ease forwards;
	-ms-animation: myimg10 4s 2.3s ease forwards
}
.hb-box .hb11 {
	right: 50%;
	margin-right: -300px;
	animation: myimg11 4s 3.3s ease forwards;
	-webkit-animation: myimg11 4s 3.3s ease forwards;
	-moz-animation: myimg11 4s 3.3s ease forwards;
	-o-animation: myimg11 4s 3.3s ease forwards;
	-ms-animation: myimg11 4s 3.3s ease forwards
}
.hb-box .hb12 {
	left: 50%;
	margin-left: 0;
	animation: myimg12 4s 1.8s ease forwards;
	-webkit-animation: myimg12 4s 1.8s ease forwards;
	-moz-animation: myimg12 4s 1.8s ease forwards;
	-o-animation: myimg12 4s 1.8s ease forwards;
	-ms-animation: myimg12 4s 1.8s ease forwards
}
.hb-box .hb13 {
	left: 50%;
	margin-left: -300px;
	animation: myimg13 4s 2.2s ease forwards;
	-webkit-animation: myimg13 4s 2.2s ease forwards;
	-moz-animation: myimg13 4s 2.2s ease forwards;
	-o-animation: myimg13 4s 2.2s ease forwards;
	-ms-animation: myimg13 4s 2.2s ease forwards
}
.hb-box .hb14 {
	right: 58%;
	margin-right: -300px;
	animation: myimg15 4s 1.4s ease forwards;
	-webkit-animation: myimg15 4s 1.4s ease forwards;
	-moz-animation: myimg15 4s 1.4s ease forwards;
	-o-animation: myimg15 4s 1.4s ease forwards;
	-ms-animation: myimg15 4s 1.4s ease forwards
}
.hb-box .hb15 {
	left: 50%;
	margin-left: -340px;
	animation: myimg14 4s 1.6s ease forwards;
	-webkit-animation: myimg14 4s 1.6s ease forwards;
	-moz-animation: myimg14 4s 1.6s ease forwards;
	-o-animation: myimg14 4s 1.6s ease forwards;
	-ms-animation: myimg14 4s 1.6s ease forwards
}
.hb-box .hb16 {
	right: 50%;
	margin-right: -700px;
	animation: myimg09 4s 1.6s ease forwards;
	-webkit-animation: myimg09 4s 1.6s ease forwards;
	-moz-animation: myimg09 4s 1.6s ease forwards;
	-o-animation: myimg09 4s 1.6s ease forwards;
	-ms-animation: myimg09 4s 1.6s ease forwards
}
.hb-box .hb17 {
	right: 15%;
	margin-right: -200px;
	animation: myimg01 4s 0s ease forwards;
	-webkit-animation: myimg01 4s 0s ease forwards;
	-moz-animation: myimg01 4s 0s ease forwards;
	-o-animation: myimg01 4s 0s ease forwards;
	-ms-animation: myimg01 4s 0s ease forwards
}
.hb-box .hb18 {
	left: 70%;
	margin-left: -200px;
	animation: myimg04 4s .5s ease forwards;
	-webkit-animation: myimg04 4s .5s ease forwards;
	-moz-animation: myimg04 4s .5s ease forwards;
	-o-animation: myimg04 4s .5s ease forwards;
	-ms-animation: myimg04 4s .5s ease forwards
}
.hb-box .hb19 {
	left: 50%;
	margin-left: -200px;
	animation: myimg01 4s .3s ease forwards;
	-webkit-animation: myimg01 4s .3s ease forwards;
	-moz-animation: myimg01 4s .3s ease forwards;
	-o-animation: myimg01 4s .3s ease forwards;
	-ms-animation: myimg01 4s .3s ease forwards
}
.hb-box .hb20 {
	left: 24%;
	margin-left: -90px;
	animation: myimg01 4s .8s ease forwards;
	-webkit-animation: myimg01 4s .8s ease forwards;
	-moz-animation: myimg01 4s .8s ease forwards;
	-o-animation: myimg01 4s .8s ease forwards;
	-ms-animation: myimg01 4s .8s ease forwards
}
.hb-box .hb21 {
	right: 12%;
	margin-left: -90px;
	animation: myimg11 4s 2.8s ease forwards;
	-webkit-animation: myimg11 4s 2.8s ease forwards;
	-moz-animation: myimg11 4s 2.8s ease forwards;
	-o-animation: myimg11 4s 2.8s ease forwards;
	-ms-animation: myimg11 4s 2.8s ease forwards
}
.hb-box .hb22 {
	left: 55%;
	margin-left: 90px;
	animation: myimg01 4s .6s ease forwards;
	-webkit-animation: myimg01 4s .6s ease forwards;
	-moz-animation: myimg01 4s .6s ease forwards;
	-o-animation: myimg01 4s .6s ease forwards;
	-ms-animation: myimg01 4s .6s ease forwards
}
.hb-box .hb23 {
	left: 50%;
	margin-left: -90px;
	animation: myimg15 4s 2.4s ease forwards;
	-webkit-animation: myimg15 4s 2.4s ease forwards;
	-moz-animation: myimg15 4s 2.4s ease forwards;
	-o-animation: myimg15 4s 2.4s ease forwards;
	-ms-animation: myimg15 4s 2.4s ease forwards
}
.hb-box .hb24 {
	right: 11%;
	animation: myimg07 4s .7s ease forwards;
	-webkit-animation: myimg07 4s .7s ease forwards;
	-moz-animation: myimg07 4s .7s ease forwards;
	-o-animation: myimg07 4s .7s ease forwards;
	-ms-animation: myimg07 4s .7s ease forwards
}
.hb-box a {
	background: url(about:blank);
	width: 65px;
	height: 88px;
	background: url("/img/5.0/base/hb.png") no-repeat;
	position: absolute;
	display: block;
	transform: translate(0, -100%);
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-o-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%)
}
:root .hb-box img {
	opacity: 1\9
}
@keyframes myimg01 {
	0% {
		transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		transform: translate(0, 1000px)
	}
}
@-webkit-keyframes myimg01 {
	0% {
		-webkit-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 1000px)
	}
}
@-moz-keyframes myimg01 {
	0% {
		-moz-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-moz-transform: translate(0, 1000px)
	}
}
@-o-keyframes myimg01 {
	0% {
		-o-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-o-transform: translate(0, 1000px)
	}
}
@-ms-keyframes myimg01 {
	0% {
		-ms-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-ms-transform: translate(0, 1000px)
	}
}
@keyframes myimg02 {
	0% {
		transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		transform: translate(0, 900px)
	}
}
@-webkit-keyframes myimg02 {
	0% {
		-webkit-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(0, 900px)
	}
}
@-moz-keyframes myimg02 {
	0% {
		-moz-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-moz-transform: translate(0, 900px)
	}
}
@-o-keyframes myimg02 {
	0% {
		-o-transform: translate(0, -100%)
	}
	100% {
		opacity: 1;
		-o-transform: translate(0, 900px)
	}*/