*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
img{
	border: 0;
}
input{
	outline: none;
}
#header{
	width: 1000px;
	height: 90px;
	margin: 0 auto;
}
#header .logo{
	height: 75px;
	float: left;
	margin-top: 15px;
}
#header .logo a{
	display: inline-block;
	width: 121px;
	height: 75px;
	margin-left: 5px;
	margin-top: -14px;
	text-indent: -9999px;/*不显示文字*/
	background: url(../img/header/logo-ico.png) no-repeat;
}
#header .logo .logotext{
	display: inline-block;
	vertical-align: top;
	padding-left: 14px;
	margin-top: 14px;
}
#main{
	width: 100%;
	height: 480px;
	background: url(../img/main/149622913404348.jpg) no-repeat center center;
}
#main .content{
	width: 1440px;
	height: 480px;
	margin:0 auto;
}
#bannerlink{
	display: block;
	width: 850px;
	height: 480px;
	float: left;
}
#main .content #log_in{
	background-color: #fff;
	margin: 38px 218px 0 0;
	width: 345px;
	height: 410px;
	float: right;
}
#log_in_tab{
	width: 280px;
	height: 310px;
	margin: 35px 0 0 30px;
}
#log_in_tab p{
	width: 280px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	color: #333;
}
#log_in_tab p a span{
	width: 13px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/main/inputbg.png);
	background-position: -3px -51px;
}
#log_in_tab p a{
	display: inline-block;
	float: right;
	color: #666;
	font-size: 12px;
}
.user_login .txt{
	box-sizing: border-box;
	width: 280px;
	height: 40px;
	font-size: 14px;
	padding-left: 35px;
}
.user_login p{
	position: relative;
}
.user_login p:first-child{
	margin-bottom: 15px;
}
.user_login p:first-child span{
	background: url(../img/main/inputbg.png);
	width: 17px;
	height: 17px;
	display: inline-block;
	background-position: 0 -1px;
	position: absolute;
	left: 10px;
	top: 14px;
}
.user_login p:nth-child(2) span{
	background: url(../img/main/inputbg.png);
	width: 17px;
	height: 17px;
	display: inline-block;
	background-position: 0 -30px;
	position: absolute;
	left: 10px;
	top: 14px;
}
.user_login p:nth-child(3) label{
	font-size: 12px;
	margin-right: 20px;
	color: #666;
}
.user_login p:nth-child(3)  input{
	vertical-align: middle;
}
.user_login p:nth-child(4)  input{
	width: 280px;
	height: 40px;
	margin-top: 8px;
	background-color: #ce0000;
	border: none;
	border-radius: 2px;
	color: white;
	font-size: 18px;
}
.user_login p:last-child{
	margin-top: 12px;
}
.user_login p:last-child a{
	float: left!important;
	color: #6a6a6a!important;
}
.user_login p:last-child span{
	float: right;
}
.other_login{
	width: 280px;
	height: 80px;
	margin-left: 30px;

}
.other_login p{
	height: 30px;
	font-size: 12px;
	color: #666;
	line-height: 20px;
}
.other_login p a{
	font-size: 14px;
	color: #005aa0;
}
.other_login p a i{
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	background: url(../img/main/l__.gif) no-repeat center center;
}
.other_login p a:first-child i{
	background-position: 0 -130px;
}
.other_login p a:nth-child(3) i{
	background-position: 0 -262px;
}
.other_login p a:nth-child(5) i{
	background-position: 0 -396px;
}
.other_login p a:last-child i{
	background-position: 0 -461px;
}
#footer{
	width: 1000px;
	height: 169px;
	margin: 30px auto 0;
	position: relative;
}
#footer .info .p1{
	padding-bottom: 8px;
}
#footer .info .p1 a{
	font-size: 12px;
	color: #333;
}
#footer .info .p1 span{
	font-size: 12px;
	padding: 0 5px 0;
}
#footer .info p{
	color: #999;
	font-size: 11px;
}
#footer .info .copyright{
	margin-top: 4px;
}
#footer #footer_links{
	padding: 10px 0 20px;
}
#footer #appcode{
	position: absolute;
	top: 0;
	right: 37px;
}