/*头部*/
#header{
	width: 840px;
	height: 115px;
	margin: 0 auto;
}
#header .header_logo{
	height: 75px;
	float: left;
	margin-top: 50px;
}
#header .header_logo a{
	display: inline-block;
	width: 121px;
	height: 75px;
	margin-left: 5px;
	text-indent: -9999px;/*不显示文字*/
	background: url(../img/header/logo-ico.png) no-repeat;
}
#header .header_logo span{
	display: inline-block;
	vertical-align: top;
	padding-left: 18px;
	margin-top: 5px;
}
/*主体部分*/
#main{
	border: 1px solid #f0f0f0;
	background: #fff;
	width: 840px;
	margin: 40px auto;
}
#main #sign_up{
	text-align: center;
	padding: 50px 0;
}
#main #sign_up h2{
	padding-bottom: 30px;
	font-size: 28px;
	height: 28px;
	font-weight: normal;
	color: #000;
}
#main #sign_up .sign_up_tab .form p{
	width: 338px;
	line-height: 38px;
	margin: 15px auto 0;
	position: relative;
}
#main #sign_up .sign_up_tab .form p span{
	width: 16px;
	height: 16px;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 11px;
	background: url(../img/main/login_ico.png) no-repeat;
}
#main #sign_up .sign_up_tab .form p .mob{
	background-position: -30px -161px;
}
#main #sign_up .sign_up_tab .form p .chatcha{
	background-position: 0px -198px;
}
#test{
	position: relative;
}
#captchaimg{
	display: inline-block;
	width: 98px;
	height: 38px;
	background: red;
	position: absolute;
	top:2px;
	right: 0;
}
#main #sign_up .sign_up_tab .form p .num{
	background-position: -45px -161px;
}
#main #sign_up .sign_up_tab .form p #getchatnum{
	width: 98px !important;
	height: 38px;
	outline: none;
	margin-left: 10px;
	border: 1px solid #ddd;
	font-family: "新宋体"!important;
	color: #333!important;
	font-size: 12px;
	background: #fff;
	cursor:pointer;
}
#main #sign_up .sign_up_tab .form p .mobnum{
	width: 193px !important;
	float: left;
}
#main #sign_up .sign_up_tab .form p .psd{
	background-position: -15px -160px;
}
#main #sign_up .sign_up_tab .form p .init{
	width: 301px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e8e8e8;
	font-size: 12px;
	background-color: transparent;
	font-family: "新宋体";
	padding-left: 35px;
	outline: none;
}
#main #sign_up .sign_up_tab .form .xieyi{
	font-size: 12px;
	color: #999;
	padding-bottom: 20px;
}
#main #sign_up .sign_up_tab .form .sbm{
	margin-top: 35px;
}
#main #sign_up .sign_up_tab .form .sbm #submit{
	width: 340px;
	height: 38px;
	font-size: 14px;
	background-color: #b32424;
	color: #fff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}
#main #sign_up .sign_up_tab .form .xieyi a{
	color: #000;
}
/*底部*/
#footer{
	text-align: center;
}
#footer .footer_help{
	display: none;
}
#footer .footer_info{
	margin-top: 30px;
	position: relative;
}
#footer .footer_info p{
	line-height: 20px;
	font-size: 12px;
}
#footer .footer_info .copyright{
	color: #999;
}
#footer .footer_links{
	padding: 10px 0 20px;
}
#footer .footer_links a{
	width: 107px;
	height: 35px;
	margin-right: 10px;
}
.false{
    color: #d00000;
    font-size: 12px;
    line-height: 17px;
    padding: 0 0 0 20px;
    margin: 8px 0 -9px 0;
    display: block;
    text-align: left;
}
